<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
modify ywh 2015-12-01
searchC 
deleteCreditManagers
updateCreditmanagers
-->
<mapper namespace="com.xinyue.manage.dao.CreditManagerDAO">
	<select id="getManagerCount" resultType="int">
		select count(*) from c_manager_info where deleted=0;
	</select>
	
	<select id="findCmanagersByConditions" parameterType="hashmap" resultType="com.xinyue.manage.model.CreditManagerInfo">
	select 
	    mi.id as creditManagerId,
	    mi.real_name as personName,
	    ci.half_img as personImg,
	    mi.star_level as starLevel,
	    oi.name as organization,
	    concat(ap.name,ac.name) as serverZone,
	    mi.good_business as goodBusiness,
	    count(di.id) as applyCount,
	    case
	        when ci.id is null then 0
	        else 1
	    end as realNameStatus,
	    oi.id as organizationId
	from
	    c_manager_info mi
	        left join
	    c_certification_info ci ON ci.userid = mi.id and ci.deleted = 0
	        left join
	    m_organization_info oi ON oi.id = mi.organization
	        left join
	    m_area_city ac ON ac.code = mi.city
	        left join
	    m_area_province ap ON ap.code = mi.province
	        left join
	    m_order_info di ON di.blank_audite_person = mi.id
	where 1=1 and mi.status = 0 and mi.deleted = 0 <!-- ywh 2015-11-13  前台 原因后台 把屏蔽和删除了前台还显示 -->
		<if test="goodBusiness != '' and goodBusiness != null">
		and mi.good_business like concat(concat('%', #{goodBusiness}),'%') 
		</if>
		<if test="serverZone != '' and serverZone != null">
		and mi.city = #{serverZone}
		</if>
		<if test="organizationType != '' and organizationType != null">
		and oi.genre = #{organizationType}
		</if>
		<if test="isAuth == true and isAuth != null">
		and ci.userid is not null
		</if>
		<if test="managerId !='' and managerId != null">
		and mi.id= #{managerId}
		</if>
	group by mi.id desc
	<choose>
		<when test="orderType != 0">
			order by mi.last_login_time desc
		</when>
		<otherwise>
			order by mi.star_level desc
		</otherwise>
	</choose>
<!-- 	modified by lzc 15-12-9 判断条件修改 '' 改为 null-->
	<if test="index != null">
<!-- 	end -->
	limit #{index},10
	</if>
	;
	</select>
	
	<select id="getCmanagersCountByConditions" parameterType="hashmap" resultType="int">
	select 
	    count(*)
	from
		(select 
		    count(mi.id)
		from
		    c_manager_info mi
		        left join
		    c_certification_info ci ON ci.userid = mi.id and ci.deleted = 0
		        left join
		    m_organization_info oi ON oi.id = mi.organization
		where 1=1
			<if test="goodBusiness != '' and goodBusiness != null">
			and mi.good_business like concat(concat('%', #{goodBusiness}),'%') 
			</if>
			<if test="serverZone != '' and serverZone != null">
			and mi.city = #{serverZone}
			</if>
			<if test="organizationType != '' and organizationType != null">
			and oi.genre = #{organizationType}
			</if>
			<if test="isAuth == true and isAuth != null">
			and ci.userid is not null
			</if>
			<if test="managerId !='' and managerId != null">
			and mi.id= #{managerId}
			</if>
		group by mi.id desc) t;
	</select>
	
	<sql id="searchC">
		<if test="creditManagerName != ''">
	    and mi.real_name like concat(concat('%', #{creditManagerName}),'%')
	    </if>
	    <if test="sex !=''">
	    and mi.sex = #{sex}
	    </if>
	    <if test="telPhone != ''">
	    and mi.tel_number concat(#{telPhone} , '%')
	    </if>
	    <if test="province !=''">
	    and mi.province like concat(substring(#{province},1,2),'%')
	    </if>
	    <if test="city !=''">
	   <!-- 
	   2015-11-12 ywh 
	   	 注释 并加区域搜索
	     and mi.city like concat(substring(#{city},1,2),'%')  
	    -->
	    and mi.city =#{city}
	    </if>
	    <if test="organization !=''">
	    and mi.organization = #{organization}
	    </if>
	    <if test="registerTimeStart !=''">
	    and mi.created_time <![CDATA[>]]> #{registerTimeStart}
	    </if>
	    <if test="registerTimeEnd !=''">
	    and mi.created_time <![CDATA[<]]> #{registerTimeEnd}
	    </if>
	    <if test="serverStar !=''">
	    and mi.star_level = #{serverStar}
	    </if>
	</sql>
	
	<select id="getManagerCountByConditions" parameterType="com.xinyue.manage.beans.SearchCreditManager" resultType="int">
	select 
	    count(*)
	from
	    c_manager_info mi
	where
	    mi.deleted = 0
	    <include refid="searchC"></include>
	    ;
	</select>
	
	<sql id="sortC">
		order by 
		<choose>
			<when test="sortCustomerAmount ==1">
				count(di.id)
			</when>
			<when test="sortCustomerAmount ==2">
				count(di.id) desc
			</when>
			<when test="sortSuccessCase ==1">
				count(sc.id)
			</when>
			<when test="sortSuccessCase ==2">
				count(sc.id) desc
			</when>
			<when test="sortRemaind ==1">
			<!-- ywh cash_remain count(ro.remaining_sum) -->
				count(ro.cash_remain)
			</when>
			<when test="sortRemaind ==2">
			<!-- ywh cash_remain count(ro.remaining_sum) -->
				count(ro.cash_remain) desc
			</when>
			<otherwise>
				mi.id
			</otherwise>
		</choose>
	</sql>
	<select id="getMangerListByConditions" parameterType="com.xinyue.manage.beans.SearchCreditManager" resultType="com.xinyue.manage.model.CreditManager">
	select 
	    mi.id as id,
	    mi.real_name as realName,
	    case mi.sex
	        when 1 then '男'
	        when 2 then '女'
	        when 3 then '保密'
	    end as sex,
	    mi.tel_number as tel,
	    mi.email as email,
	    mi.star_level as star,
	    ap.name as province,
	    ac.name as city,
	    oi.name as organization,
	    count(di.id) as customerAmount,
	    count(sc.id) as successCaseAmount,
	    ro.cash_remain as moneyRemaind,
	    mi.status as status,
	    date_format(mi.created_time, '%Y-%m-%d') as registerDate
	from
	    c_manager_info mi
	        left join
	    m_area_province ap ON ap.code = mi.province
	        left join
	    m_area_city ac ON ac.code = mi.city
	        left join
	    m_organization_info oi ON oi.id = mi.organization
	        left join
	    m_order_info di ON di.blank_audite_person = mi.id
	        left join
	    c_success_case sc ON sc.credit_manager_id = mi.id
	        left join
	    m_reward_outline ro ON ro.user_id = mi.id
	where 
		mi.deleted = 0
		<include refid="searchC"></include>
	group by mi.id
	<include refid="sortC"></include>
	limit #{index},10
	;
	</select>
	
	<update id="deleteCreditManagers" parameterType="List">
		
			update c_manager_info 
			set 
			    deleted = 1
			where  
			<foreach collection="ids" item="id" index="index" open=" id = " separator=" or id = ">
			    #{id}
		</foreach>
	</update>
	
	<update id="updateCreditmanagers" parameterType="List">
		
			update c_manager_info 
			set 
			    status = #{status}
			where
			<foreach collection="ids" item="id" index="index" open=" id = " separator=" or id = ">
			   #{id}
		</foreach>
	</update>
	
	<!-- youwh findCreditByOrgid  -->
	<select id="findCreditByOrgid" resultType="com.xinyue.manage.model.CreditManagerInfo">
		select 
	    mi.id as creditManagerId,
	    mi.real_name as personName,
	    ci.half_img as personImg,
	    mi.star_level as starLevel,
	    oi.name as organization,
	    concat(ap.name,ac.name) as serverZone,
	    case
	        when ci.id is null then 0
	        else 1
	    end as realNameStatus,
	    oi.id as organizationId
	from
	    c_manager_info mi
	        left join
	    c_certification_info ci ON ci.userid = mi.id and ci.deleted = 0
	        left join
	    m_organization_info oi ON oi.id = mi.organization
	        left join
	    m_area_city ac ON ac.code = mi.city
	        left join
	    m_area_province ap ON ap.code = mi.province 
		where mi.deleted = 0 and oi.id = #{orgid};
	</select>
	<!--ywh  2015-0-12-08  添加推荐标志和推荐时间-->
	<insert id="saveCreditManager" parameterType="com.xinyue.manage.model.CreditManager">
	insert into 
		c_manager_info(
			id,
			tel_number,
			login_password,
			real_name,
			organization,
			province,
			city,
			invitation_code,
			created_time,
			deleted,
			sex,
			status,
			recommend,
			recommend_time
		)
	values(
		#{id},
		#{tel},
		#{password},
		#{realName},
		#{organization},
		#{province},
		#{city},
		#{invitationCode},
		now(),
		0,
		3,
		0,
		#{recommend},
		now()
	);
	</insert>
	
	<select id="checkInvitationCode" parameterType="String" resultType="int">
		select 
		    count(*)
		from
		    c_manager_info
		where
		    invitation_code = #{invitationCode};
	</select>
	<!--ywh  2015-0-12-08  添加推荐标志-->
	<select id="getCreditManagerById" parameterType="String" resultType="com.xinyue.manage.model.CreditManager">
		select 
		    mi.id as id,
		    mi.real_name as realName,
		    mi.tel_number as tel,
		    oi.name as organization,
		    ap.name as province,
		    ac.name as city,
		    mi.email as email,
		    <!-- ywh start -->
		    mi.status status,
		    mi.star_level star ,
		    mi.created_time	registerDate ,
		    mi.recommend recommend ,
		    <!-- ywh over -->
		    case mi.sex
		        when 1 then '男'
		        when 2 then '女'
		        when 3 then '保密'
		    end as sex,
		    date_format(mi.birthday, '%Y-%m-%d') as birthday,
		    mi.good_business as goodBusiness
		from
		    c_manager_info mi
		        left join
		    m_organization_info oi ON oi.id = mi.organization
		        left join
		    m_area_province ap ON mi.province = ap.code
		        left join
		    m_area_city ac ON mi.city = ac.code
		where
		    mi.id = #{managerId};
	</select>
	
	<select id="getAuthenticationById" parameterType="String" resultType="com.xinyue.manage.model.AuthenticationCM">
		select 
		    ci.id as id,
		    ci.organization as organization,
		    ci.real_name as realName,
		    case ci.sex
		        when 1 then '男'
		        when 2 then '女'
		        when 3 then '保密'
		    end as sex,
		    ci.idcard as idCard,
		    ci.position as position,
		    ap.name as province,
		    ac.name as city,
		    ci.address as address,
		    ci.card_img as cardImg,
		    ci.work_img as workImg,
		    ci.half_img as halfImg,
		    ci.audit as audit,
		    ci.audit_message as auditMessage
		from
		    c_certification_info ci,
		    m_area_province ap,
		    m_area_city ac
		where
		    ci.province = ap.code
        		and ci.city = ac.code
		    	and ci.userid = #{managerId};
	</select>
	
	<!-- ywh 2015-11-13 start 审核提交 -->
	<update id="updateAudit" parameterType="com.xinyue.manage.model.AuthenticationCM">
		update c_certification_info set audit = #{audit} , audit_message = #{auditMessage} where id = #{id}
	</update>	
	<!--ywh  2015-0-12-08  修改推荐标志和推荐时间-->
	<update id="updateCreditRecommend" parameterType="com.xinyue.manage.model.AuthenticationCM">
		update c_manager_info set recommend=#{recommend} <if test="recommend == 1">, recommend_time = now()</if> where id  = #{managerId}
	</update>
	<!-- ywh over -->
	<select id="getInvitationMemberCount" parameterType="String" resultType="int">
		select 
		    count(nt.id)
		from
		    (select 
		        mi.id
		    from
		        c_manager_info cm, m_member_info mi
		    where
		        cm.id = #{managerId}
		            and cm.invitation_code = mi.invited_code
		            and mi.deleted = 0
		    group by mi.id) nt;
	</select>
	
	<select id="getInvitationMemberInfo" resultType="com.xinyue.manage.beans.InvitationMemberInfo">
		select 
		    nt.contact_name as name,
		    nt.contact_phone as telPhone,
		    date_format(nt.register_time,'%Y-%m-%d') as registerTime,
		    date_format(oi.audite_time,'%Y-%m-%d') as successLoanTime
		from
		    (select 
		        mi.id, mi.contact_name, mi.contact_phone, mi.register_time
		    from
		        c_manager_info cm, m_member_info mi
		    where
		        cm.id = #{managerId}
		            and cm.invitation_code = mi.invited_code
		            and mi.deleted = 0) nt
		        left join
		    m_order_info oi ON nt.id = oi.member_id and oi.deleted = 0
		        and oi.status = 10
		 limit #{index},10;
	</select>
	
	<select id="getInvitationMemberRecords" parameterType="String" resultType="int">
		select 
		    count(nt.id)
		from
		    (select 
		        mi.id, mi.contact_name, mi.contact_phone, mi.register_time
		    from
		        c_manager_info cm, m_member_info mi
		    where
		        cm.id = #{managerId}
		            and cm.invitation_code = mi.invited_code
		            and mi.deleted = 0) nt
		        left join
		    m_order_info oi ON nt.id = oi.member_id and oi.deleted = 0
		        and oi.status = 10;	
	</select>
	
	<select id="getInvitationManagerCount" parameterType="String" resultType="int">
		select 
		    count(mi1.id)
		from
		    c_manager_info mi0,
		    c_manager_info mi1
		where
		    mi0.invitation_code = mi1.invited_code
		        and mi0.id = #{managerId};	
	</select>
	
	<select id="getInvitationManagerInfo" resultType="com.xinyue.manage.beans.InvitationMemberInfo">
		select 
		    mi.real_name as name,
		    mi.tel_number as telPhone,
		    date_format(mi.created_time,'%Y-%m-%d') as registerTime,
		    date_format(ri.recharge_time,'%Y-%m-%d') as rechargeTime
		from
		    (select 
		        mi1.id, mi1.real_name, mi1.tel_number, mi1.created_time
		    from
		        c_manager_info mi0, c_manager_info mi1
		    where
		        mi0.invitation_code = mi1.invited_code
		            and mi0.id = #{managerId}) mi
		        left join
		    (select 
		        *
		    from
		        (select 
		        *
		    from
		        m_recharge_info
		    order by recharge_time desc) a
		    group by a.user_id
		    order by a.user_id) ri ON mi.id = ri.user_id
		        and ri.user_type = 'c'
		order by mi.created_time desc
		limit #{index} , 10;	
	</select>
	
	<select id="getInvitationManagerRecords" parameterType="String" resultType="int">
		select 
		    count(mi1.id)
		from
		    c_manager_info mi0,
		    c_manager_info mi1
		where
		    mi0.invitation_code = mi1.invited_code
		        and mi0.id = #{managerId}
	</select>
	
	<select id="getMoneyAccountByManagerId" parameterType="string" resultType="com.xinyue.manage.model.MoneyOutline">
		select 
		    recharge_total as rechargeTotal,
		    reward_total as rewardTotal,
		    consumption_total as consumptionTotal,
		    remaining_sum as remaining
		from
		    m_reward_outline
		where
		    user_type = 'c' and user_id = #{managerId};	
	</select>
	
	<select id="getServerRating" parameterType="hashmap" resultType="com.xinyue.manage.model.Order">
		select 
		    name as applicant, 
		    level as level, 
		    date_format(evaluation_time,'%Y-%m-%d %H:%i') as evaluationTime, 
		    evaluate_content as evaluateContent
		from
		    m_order_info
		where
		    credit_manager_id = #{managerId} and deleted = 0
		<if test="star != 0">
			and level = #{star}
		</if>
		<if test="index !=''">
		limit #{index},10;
		</if>
	</select>
	
	<select id="getServerRatingCount" parameterType="string" resultType="int">
		select 
			count(id)
		from
		    m_order_info
		where
		    credit_manager_id = #{managerId} and deleted = 0;		
	</select>
	
	<!-- ywh 获取所有信贷经理 start -->
	<select id="getAllCredit" resultType="com.xinyue.manage.model.Select">
		select 
		id dicKey , 
		real_name dicVal 
		from c_manager_info where deleted = 0  
	</select>
	<!-- over -->
	
	
	<sql id="invitationMemberCondition">
		WHERE 1 = 1
		<if test="search != null">
			<if test="search.regigsterStartTime != null || search.regigsterStartTime != ''">
				and nt.register_time >= #{search.regigsterStartTime}
			</if>
			<if test="search.registerEndTime != null || search.registerEndTime != ''">
				and nt.register_time <![CDATA[<=]]> #{search.registerEndTime}
			</if>
		</if>
	</sql>
	<select id="getInvitationMember" resultType="com.xinyue.manage.beans.InvitationMemberInfo">
		select 
		    nt.contact_name as name,
		    nt.contact_phone as telPhone,
		    date_format(nt.register_time,'%Y-%m-%d') as registerTime
		  
		from
		    (select 
		        mi.id, mi.contact_name, mi.contact_phone, mi.register_time
		    from
		        c_manager_info cm, m_member_info mi
		    where
		        cm.id = #{managerId}
		            and cm.invitation_code = mi.invited_code
		            and mi.deleted = 0) nt
		 <include refid="invitationMemberCondition"></include>
		 limit #{index},10;
	</select>
	
	<select id="countInvitationMember" resultType="int">
		SELECT 
			count(mi.id)
		FROM
			m_member_info mi
		WHERE mi.invited_code = (SELECT cm.invitation_code FROM c_manager_info cm WHERE cm.id = #{managerId})
		<if test="search != null">
			<if test="search.regigsterStartTime != null || search.regigsterStartTime != ''">
				and mi.register_time >= #{search.regigsterStartTime}
			</if>
			<if test="search.registerEndTime != null || search.registerEndTime != ''">
				and mi.register_time <![CDATA[<=]]> #{search.registerEndTime}
			</if>
		</if>
		
	</select>
	
	
	<sql id="invitationManagerCondition">
			
		<if test="search != null">
			<if test="search.regigsterStartTime != null || search.regigsterStartTime != ''">
				and mi.created_time >= #{search.regigsterStartTime}
			</if>
			<if test="search.registerEndTime != null || search.registerEndTime != ''">
				and mi.created_time <![CDATA[<=]]> #{search.registerEndTime}
			</if>
		</if>
	</sql>
	
	<select id="getInvitationManager" resultType="com.xinyue.manage.beans.InvitationMemberInfo">
		select 
		    mi.real_name as name,
		    mi.tel_number as telPhone,
		    date_format(mi.created_time,'%Y-%m-%d') as registerTime
		from
		    (select 
		        mi1.id, mi1.real_name, mi1.tel_number, mi1.created_time
		    from
		        c_manager_info mi0, c_manager_info mi1
		    where
		        mi0.invitation_code = mi1.invited_code
		            and mi0.id = #{managerId}) mi
		WHERE 1 = 1
		<include refid="invitationManagerCondition"></include>       
		order by mi.created_time desc
		limit #{index} , 10;	
	</select>
	
	<select id="countInvitationMangager" resultType="int">
		select 
		    count(mi1.id)
		from
		    c_manager_info mi0,
		    c_manager_info mi1
		where
		    mi0.invitation_code = mi1.invited_code
		        and mi0.id = #{managerId}
		<if test="search != null">
			<if test="search.regigsterStartTime != null || search.regigsterStartTime != ''">
				and mi1.created_time >= #{search.regigsterStartTime}
			</if>
			<if test="search.registerEndTime != null || search.registerEndTime != ''">
				and mi1.created_time <![CDATA[<=]]> #{search.registerEndTime}
			</if>
		</if>
	</select>
	
	<select id="getCreditManagerInfoByIndex" resultType="com.xinyue.manage.model.CreditManagerInfo">
		select
		    mi.id as creditManagerId,
		    mi.real_name as personName,
		    mi.star_level as starLevel,
		    mi.good_business as goodBusiness,
		    mi.organization as organizationId,
		    ci.half_img as personImg,
		    oi.name as organization,
		    
	       (SELECT count(di.id) FROM m_order_info di WHERE mi.id =  di.blank_audite_person) as applyCount,
		    concat(ap.name,ac.name) as serverZone,
		    case
		        when ci.id is null then 0
		        else 1
		    end as realNameStatus,
		    oi.status as organizationAuthStatus,
		    oi.id as organizationId
		from
		    c_manager_info mi
		        left join
		    c_certification_info ci ON ci.userid = mi.id and ci.deleted = 0
		        left join
		    m_organization_info oi ON oi.id = mi.organization
		        left join
		    m_area_city ac ON ac.code = mi.city
		        left join
		    m_area_province ap ON ap.code = mi.province 
		where mi.deleted = 0 and mi.recommend = 1
		order by mi.recommend_time desc
		limit #{pageNo},#{pageSize}
	
	</select>
	
	
	
</mapper>