<?xml version="1.0" encoding="UTF-8"?>
<!-- wenhai.you -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinyue.manage.dao.MemberDao">
	
	<select id="findPageList" resultType="com.xinyue.manage.model.Member" parameterType="com.xinyue.manage.beans.MemberInfo">
		
		select * from (select  
		m.id id,
		m.login_name loginName, 
		s.select_value memberName,
		m.company company,
		concat_ws('',p.name , c.name , z.name , m.address) area,
		m.membercount memberCount,
		m.contact_name contactName,
		m.contact_phone contactPhone,
		m.email email,
		m.register_time regTime,
		m.login_time loginTime,
		m.status status,
		(select count(*) from m_order_info where member_id = m.id) as orderCount
		
		from m_member_info m 
		left join m_select_info s on s.select_key = m.memberid 
		left join m_area_province p on m.area_province = p.code 
		left join m_area_city c on m.area_city = c.code 
		left join m_area_zone z on m.area_zone = z.code 
		left join m_license_info l on m.license_info = l.id 
		left join m_control_info a on a.id = l.control_info 
		where 
		s.type_code = 'member_type' 
		and m.deleted = 0 
		<if test="company != null and company != ''"> 
			and m.company like concat(#{company},'%') 
		</if>
		<if test="startTime != null and startTime != ''"> 
			and m.register_time<![CDATA[ >= ]]> #{startTime} 
		</if>
		<if test="endTime != null and endTime != ''"> 
			and m.register_time<![CDATA[ <= ]]>#{endTime} 
		</if>
		<if test="contactName != null and contactName != ''"> 
			and  m.contact_name like concat(#{contactName} , '%') 
		</if>
		<if test="contactPhone != null and contactPhone != ''"> 
			and m.contact_phone like concat(#{contactPhone} , '%')
		</if>
		<if test="legalRepresentative != null and legalRepresentative != ''"> 
			and l.legal_representative like concat(#{legalRepresentative} , '%') 
		</if>
		<if test="taxRegistrationArea != null and taxRegistrationArea != ''"> 
			and l.tax_registration_area like concat(#{taxRegistrationArea} , '%') 
		</if>
		<if test="startCapital != null and startCapital != ''"> 
			and l.registered_capital <![CDATA[ >= ]]> #{startCapital} 
		</if>
		<if test="endCapital != null and endCapital != ''"> 
			and l.registered_capital <![CDATA[<=]]> #{endCapital} 
		</if>
		<if test="industry != null and industry != ''"> 
			and a.industry = #{industry} 
		</if>
		order by m.created_time desc 
		
		) t where 1=1 
		<if test="startCount != null and startCount != ''"> 
			and t.orderCount<![CDATA[ >= ]]>#{startCount} 
		</if>
		<if test="endCount != null and endCount != ''"> 
			and	t.orderCount<![CDATA[ <= ]]>#{endCount}
		</if> 
		limit #{start} , #{pageSize}
	</select>
	
	<select id="getCount" resultType="int" parameterType="com.xinyue.manage.beans.MemberInfo">
		
		select count(*) from (select  
		m.id id,
		m.login_name loginName, 
		s.select_value memberName,
		m.company company,
		concat_ws('',p.name , c.name , z.name , m.address) area,
		m.membercount memberCount,
		m.contact_name contactName,
		m.contact_phone contactPhone,
		m.email email,
		m.register_time regTime,
		m.login_time loginTime,
		(select count(*) from m_order_info where member_id = m.id) as orderCount
		
		from m_member_info m 
		left join m_select_info s on s.select_key = m.memberid 
		left join m_area_province p on m.area_province = p.code 
		left join m_area_city c on m.area_city = c.code 
		left join m_area_zone z on m.area_zone = z.code 
		left join m_license_info l on m.license_info = l.id 
		left join m_control_info a on a.id = l.control_info 
		where s.type_code = 'member_type' 
		and m.deleted = 0 
		<if test="company != null and company != ''"> 
			and m.company like concat(#{company},'%') 
		</if>
		<if test="startTime != null and startTime != ''"> 
			<![CDATA[
			and m.register_time >= #{startTime} 
			]]>
		</if>
		<if test="endTime != null and endTime != ''"> 
			<![CDATA[
				and m.register_time <= #{endTime}
			]]>
		</if>
		<if test="contactName != null and contactName != ''"> 
			and  m.contact_name like concat(#{contactName} , '%') 
		</if>
		<if test="contactPhone != null and contactPhone != ''"> 
			and m.contact_phone like concat(#{contactPhone} , '%')
		</if>
		<if test="legalRepresentative != null and legalRepresentative != ''"> 
			and l.legal_representative like concat(#{legalRepresentative} , '%') 
		</if>
		<if test="taxRegistrationArea != null and taxRegistrationArea != ''"> 
			and l.tax_registration_area like concat(#{taxRegistrationArea} , '%') 
		</if>
		<if test="startCapital != null and startCapital != ''"> 
			<![CDATA[
			and l.registered_capital >= #{startCapital} 
			]]>
		</if>
		<if test="endCapital != null and endCapital != ''"> 
			<![CDATA[
				and l.registered_capital <= #{endCapital} 
			]]>
		</if>
		<if test="industry != null and industry != ''"> 
			and a.industry = #{industry} 
		</if>
		
		order by m.created_time desc ) t 
		where 1=1  
		<if test="startCount != null and startCount != ''"> 
			<![CDATA[
			and t.orderCount >= #{startCount} 
			]]>
		</if>
		<if test="endCount != null and endCount != ''"> 
			<![CDATA[
				and t.orderCount <= #{endCount}
			]]>
		</if>
		  
		
	</select>
	
	<update id="updateEnabled">
		update m_member_info set status = 0 , modified_time = now() , modified_id = #{modifyUser} where id = 
		<foreach collection="list" item="item" index="index" separator=" or id = "  >  
	        #{item}  
	    </foreach>
	</update>
	
	<update id="updateDisabled">
		update m_member_info set status = 1 ,modified_time = now() , modified_id = #{modifyUser} where id = 
		<foreach collection="list" item="item" index="index" separator=" or id = "  >  
	        #{item}  
	    </foreach>
	</update>
	
	<select id="editMember" resultType="com.xinyue.manage.model.Member">
		select 
			m.id id ,
			m.login_name loginName,
			m.contact_name contactName,
			m.contact_phone contactPhone,
			m.company company,
			p.code provinceid,
			p.name province,
			c.code cityid,
			c.name city ,
			z.code zoneid,
			z.name zone ,
			c.code cityids,
			z.code zoneids,
			m.memberid memberid,
			m.address address,
			m.login_time loginTime,
			m.created_time regTime ,
			(select count(*) from m_order_info where member_id = id) as orderCount,
			s.select_value memberName,
			m.memberCount memberCount
		from m_member_info m 
		left join m_select_info s on s.select_key = m.memberid 
		left join m_area_province p on m.area_province = p.code 
		left join m_area_city c on m.area_city = c.code 
		left join m_area_zone z on m.area_zone = z.code 
		where s.type_code = 'member_type' and m.id = #{id}
	</select>
	
	<update id="updateMember" parameterType="com.xinyue.manage.model.Member">
		update m_member_info set 
			contact_name = #{contactName}, 
			contact_phone = #{contactPhone}, 
			company = #{company}, 
			area_province = #{provinceid}, 
			area_city = #{cityid}, 
			area_zone = #{zoneid}, 
			address = #{address},
			modified_time = now(),
			modified_id = #{modifyUser}
			where id = #{id}
	</update>
	
	<insert id="addMember" parameterType="com.xinyue.manage.model.Member">
		insert into m_member_info(
			id , 
			login_name , 
			password , 
			contact_name , 
			contact_phone , 
			company , 
			area_province , 
			area_city , 
			area_zone , 
			address ,
			memberid , 
			register_time ,
			created_time , 
			created_id , deleted , membercount) values
			(uuid() , #{loginName} , concat(#{loginName} , '123456') , #{contactName} , 
			#{contactPhone} , #{company} , #{provinceid} , #{cityid} , #{zoneid} , #{address} , #{memberid} ,
			now() , now() , #{createUser} , 0 , #{memberCount})
	</insert>
	
	<update id="delMember">
		update m_member_info set deleted = 1 ,modified_time = now() , modified_id = #{modifyUser} where id = 
		<foreach collection="list" item="item" index="index" separator=" or id = "  >  
	        #{item}  
	    </foreach> 
	</update>
	
	<!-- 新越网 -->
	<select id="findXinYuePage" resultType="com.xinyue.manage.model.Member" parameterType="com.xinyue.manage.beans.MemberInfo">
		select * from (select  
		m.id id,
		m.login_name loginName, 
		s.select_value memberName,
		m.company company,
		concat_ws('',p.name , c.name , z.name , m.address) area,
		m.membercount memberCount,
		m.contact_name contactName,
		m.contact_phone contactPhone,
		m.email email,
		m.register_time regTime,
		m.login_time loginTime,
		m.status status,
		(select count(*) from m_order_info where member_id = m.id) as orderCount
		
		from m_member_info m 
		left join m_select_info s on s.select_key = m.memberid 
		left join m_area_province p on m.area_province = p.code 
		left join m_area_city c on m.area_city = c.code 
		left join m_area_zone z on m.area_zone = z.code 
		left join m_license_info l on m.license_info = l.id 
		left join m_control_info a on a.id = l.control_info 
		where s.type_code = 'member_type' and s.select_key = '2'
		and m.deleted = 0 
		<if test="company != null and company != ''"> 
			and m.company like concat(#{company},'%') 
		</if>
		<if test="startTime != null and startTime != ''"> 
			and m.register_time<![CDATA[ >= ]]> #{startTime} 
		</if>
		<if test="endTime != null and endTime != ''"> 
			and m.register_time<![CDATA[ <= ]]>#{endTime} 
		</if>
		<if test="contactName != null and contactName != ''"> 
			and  m.contact_name like concat(#{contactName} , '%') 
		</if>
		<if test="contactPhone != null and contactPhone != ''"> 
			and m.contact_phone like concat(#{contactPhone} , '%')
		</if>
		<if test="legalRepresentative != null and legalRepresentative != ''"> 
			and l.legal_representative like concat(#{legalRepresentative} , '%') 
		</if>
		<if test="taxRegistrationArea != null and taxRegistrationArea != ''"> 
			and l.tax_registration_area like concat(#{taxRegistrationArea} , '%') 
		</if>
		<if test="startCapital != null and startCapital != ''"> 
			and l.registered_capital<![CDATA[ >= ]]>#{startCapital} 
		</if>
		<if test="endCapital != null and endCapital != ''"> 
			
				and l.registered_capital <![CDATA[<=]]> #{endCapital} 
			
		</if>
		<if test="industry != null and industry != ''"> 
			and a.industry = #{industry} 
		</if>
		
		order by m.created_time desc 
		) t 
		where 1=1  
		<if test="startCount != null and startCount != ''"> 
			and t.orderCount<![CDATA[ >= ]]>#{startCount} 
		</if>
		<if test="endCount != null and endCount != ''"> 
			and t.orderCount<![CDATA[ <= ]]>#{endCount}
		</if>
		limit #{start} , #{pageSize}
	</select>
	<select id="getXinYueCount" resultType="int" parameterType="com.xinyue.manage.beans.MemberInfo">
		
		select count(*) from (select  
		m.id id,
		m.login_name loginName, 
		s.select_value memberName,
		m.company company,
		concat_ws('',p.name , c.name , z.name , m.address) area,
		m.membercount memberCount,
		m.contact_name contactName,
		m.contact_phone contactPhone,
		m.email email,
		m.register_time regTime,
		m.login_time loginTime,
		(select count(*) from m_order_info where member_id = m.id) as orderCount
		
		from m_member_info m 
		left join m_select_info s on s.select_key = m.memberid 
		left join m_area_province p on m.area_province = p.code 
		left join m_area_city c on m.area_city = c.code 
		left join m_area_zone z on m.area_zone = z.code 
		left join m_license_info l on m.license_info = l.id 
		left join m_control_info a on a.id = l.control_info 
		where s.type_code = 'member_type' and s.select_key = '2'
		and m.deleted = 0 
		<if test="company != null and company != ''"> 
			and m.company like concat(#{company},'%') 
		</if>
		<if test="startTime != null and startTime != ''">
			<![CDATA[ 
			and m.register_time >= #{startTime} 
			]]>
		</if>
		<if test="endTime != null and endTime != ''"> 
			<![CDATA[
				and m.register_time <= #{endTime}
			]]>
		</if>
		<if test="contactName != null and contactName != ''"> 
			and  m.contact_name like concat(#{contactName} , '%') 
		</if>
		<if test="contactPhone != null and contactPhone != ''"> 
			and m.contact_phone like concat(#{contactPhone} , '%')
		</if>
		<if test="legalRepresentative != null and legalRepresentative != ''"> 
			and l.legal_representative like concat(#{legalRepresentative} , '%') 
		</if>
		<if test="taxRegistrationArea != null and taxRegistrationArea != ''"> 
			and l.tax_registration_area like concat(#{taxRegistrationArea} , '%') 
		</if>
		<if test="startCapital != null and startCapital != ''"> 
			<![CDATA[
			and l.registered_capital >= #{startCapital} 
			]]>
		</if>
		<if test="endCapital != null and endCapital != ''"> 
			<![CDATA[
				and l.registered_capital <= #{endCapital} 
			]]>
		</if>
		<if test="industry != null and industry != ''"> 
			and a.industry = #{industry} 
		</if>
		order by m.created_time desc) t 
		where 1=1  
		<if test="startCount != null and startCount != ''"> 
			<![CDATA[
			and t.orderCount >= #{startCount} 
			]]>
		</if>
		<if test="endCount != null and endCount != ''"> 
			<![CDATA[
				and t.orderCount <= #{endCount}
			]]>
		</if>
	</select>
	
	<!-- QQ会员 -->
	<select id="findQQPage" resultType="com.xinyue.manage.model.Member" parameterType="com.xinyue.manage.beans.MemberInfo">
		select * from (select  
		m.id id,
		m.login_name loginName, 
		s.select_value memberName,
		m.company company,
		concat_ws('',p.name , c.name , z.name , m.address) area,
		m.membercount memberCount,
		m.contact_name contactName,
		m.contact_phone contactPhone,
		m.email email,
		m.register_time regTime,
		m.login_time loginTime,
		m.status status,
		(select count(*) from m_order_info where member_id = m.id) as orderCount
		
		from m_member_info m 
		left join m_select_info s on s.select_key = m.memberid 
		left join m_area_province p on m.area_province = p.code 
		left join m_area_city c on m.area_city = c.code 
		left join m_area_zone z on m.area_zone = z.code 
		left join m_license_info l on m.license_info = l.id 
		left join m_control_info a on a.id = l.control_info 
		where s.type_code = 'member_type' and s.select_key = '1'
		and m.deleted = 0 
		<if test="company != null and company != ''"> 
			and m.company like concat(#{company},'%') 
		</if>
		<if test="startTime != null and startTime != ''"> 
			and m.register_time<![CDATA[ >= ]]> #{startTime} 
		</if>
		<if test="endTime != null and endTime != ''"> 
			and m.register_time<![CDATA[ <= ]]>#{endTime} 
		</if>
		<if test="contactName != null and contactName != ''"> 
			and  m.contact_name like concat(#{contactName} , '%')  
		</if>
		<if test="contactPhone != null and contactPhone != ''"> 
			and m.contact_phone like concat(#{contactPhone} , '%')
		</if>
		<if test="legalRepresentative != null and legalRepresentative != ''"> 
			and l.legal_representative like concat(#{legalRepresentative} , '%') 
		</if>
		<if test="taxRegistrationArea != null and taxRegistrationArea != ''"> 
			and l.tax_registration_area like concat(#{taxRegistrationArea} , '%') 
		</if>
		<if test="startCapital != null and startCapital != ''"> 
			and l.registered_capital<![CDATA[ >= ]]>#{startCapital} 
		</if>
		<if test="endCapital != null and endCapital != ''"> 
			
				and l.registered_capital <![CDATA[<=]]> #{endCapital} 
			
		</if>
		<if test="industry != null and industry != ''"> 
			and a.industry = #{industry} 
		</if>
		order by m.created_time desc 
		) t where 1=1  
		<if test="startCount != null and startCount != ''"> 
			and t.orderCount<![CDATA[ >= ]]>#{startCount} 
		</if>
		<if test="endCount != null and endCount != ''"> 
			and	t.orderCount<![CDATA[ <= ]]>#{endCount}
		</if>
		 limit #{start} , #{pageSize}
	</select>
	<select id="getQQCount" resultType="int" parameterType="com.xinyue.manage.beans.MemberInfo">
		
		select count(*) from (select  
		m.id id,
		m.login_name loginName, 
		s.select_value memberName,
		m.company company,
		concat_ws('',p.name , c.name , z.name , m.address) area,
		m.membercount memberCount,
		m.contact_name contactName,
		m.contact_phone contactPhone,
		m.email email,
		m.register_time regTime,
		m.login_time loginTime,
		(select count(*) from m_order_info where member_id = m.id) as orderCount
		
		from m_member_info m 
		left join m_select_info s on s.select_key = m.memberid 
		left join m_area_province p on m.area_province = p.code 
		left join m_area_city c on m.area_city = c.code 
		left join m_area_zone z on m.area_zone = z.code 
		left join m_license_info l on m.license_info = l.id 
		left join m_control_info a on a.id = l.control_info 
		where s.type_code = 'member_type' and s.select_key = '1'
		and m.deleted = 0 
		<if test="company != null and company != ''"> 
			and m.company like concat(#{company},'%') 
		</if>
		<if test="startTime != null and startTime != ''"> 
			<![CDATA[
			and m.register_time >= #{startTime} 
			]]>
		</if>
		<if test="endTime != null and endTime != ''"> 
			<![CDATA[
				and m.register_time <= #{endTime}
			]]>
		</if>
		<if test="contactName != null and contactName != ''"> 
			and  m.contact_name like concat(#{contactName} , '%') 
		</if>
		<if test="contactPhone != null and contactPhone != ''"> 
			and m.contact_phone like concat(#{contactPhone} , '%')
		</if>
		<if test="legalRepresentative != null and legalRepresentative != ''"> 
			and l.legal_representative like concat(#{legalRepresentative} , '%') 
		</if>
		<if test="taxRegistrationArea != null and taxRegistrationArea != ''"> 
			and l.tax_registration_area like concat(#{taxRegistrationArea} , '%') 
		</if>
		<if test="startCapital != null and startCapital != ''"> 
			<![CDATA[
			and l.registered_capital >= #{startCapital} 
			]]>
		</if>
		<if test="endCapital != null and endCapital != ''"> 
			<![CDATA[
				and l.registered_capital <= #{endCapital} 
			]]>
		</if>
		<if test="industry != null and industry != ''"> 
			and a.industry = #{industry} 
		</if>
		
		order by m.created_time desc) t 
		where 1=1  
		<if test="startCount != null and startCount != ''"> 
			<![CDATA[
			and t.orderCount >= #{startCount} 
			]]>
		</if>
		<if test="endCount != null and endCount != ''"> 
			<![CDATA[
				and t.orderCount <= #{endCount}
			]]>
		</if>
		
	</select>
	
	
	<!-- 微信会员 -->
	<select id="findWeixinPage" resultType="com.xinyue.manage.model.Member" parameterType="com.xinyue.manage.beans.MemberInfo">
		select * from (select  
		m.id id,
		m.login_name loginName, 
		s.select_value memberName,
		m.company company,
		concat_ws('',p.name , c.name , z.name , m.address) area,
		m.membercount memberCount,
		m.contact_name contactName,
		m.contact_phone contactPhone,
		m.email email,
		m.register_time regTime,
		m.login_time loginTime,
		m.status status,
		(select count(*) from m_order_info where member_id = m.id) as orderCount
		
		from m_member_info m 
		left join m_select_info s on s.select_key = m.memberid 
		left join m_area_province p on m.area_province = p.code 
		left join m_area_city c on m.area_city = c.code 
		left join m_area_zone z on m.area_zone = z.code 
		left join m_license_info l on m.license_info = l.id 
		left join m_control_info a on a.id = l.control_info 
		where s.type_code = 'member_type' and s.select_key = '3'
		and m.deleted = 0 
		<if test="company != null and company != ''"> 
			and m.company like concat(#{company},'%') 
		</if>
		<if test="startTime != null and startTime != ''"> 
			and m.register_time<![CDATA[ >= ]]> #{startTime} 
		</if>
		<if test="endTime != null and endTime != ''"> 
			and m.register_time<![CDATA[ <= ]]>#{endTime}
		</if>
		<if test="contactName != null and contactName != ''"> 
			and  m.contact_name like concat(#{contactName} , '%') 
		</if>
		<if test="contactPhone != null and contactPhone != ''"> 
			and m.contact_phone like concat(#{contactPhone} , '%')
		</if>
		<if test="legalRepresentative != null and legalRepresentative != ''"> 
			and l.legal_representative like concat(#{legalRepresentative} , '%') 
		</if>
		<if test="taxRegistrationArea != null and taxRegistrationArea != ''"> 
			and l.tax_registration_area like concat(#{taxRegistrationArea} , '%') 
		</if>
		<if test="startCapital != null and startCapital != ''"> 
			and l.registered_capital<![CDATA[ >= ]]>#{startCapital} 
		</if>
		<if test="endCapital != null and endCapital != ''"> 
			and l.registered_capital <![CDATA[<=]]> #{endCapital} 
		</if>
		<if test="industry != null and industry != ''"> 
			and a.industry = #{industry} 
		</if>
		
		order by m.created_time desc 
		
		) t where 1=1  
		<if test="startCount != null and startCount != ''"> 
			and t.orderCount<![CDATA[ >= ]]>#{startCount} 
		</if>
		<if test="endCount != null and endCount != ''"> 
			and t.orderCount<![CDATA[ <= ]]>#{endCount}
			
		</if>
		limit #{start} , #{pageSize}
	</select>
	<select id="getWeixinCount" resultType="int" parameterType="com.xinyue.manage.beans.MemberInfo">
		
		select count(*) from (select  
		m.id id,
		m.login_name loginName, 
		s.select_value memberName,
		m.company company,
		concat_ws('',p.name , c.name , z.name , m.address) area,
		m.membercount memberCount,
		m.contact_name contactName,
		m.contact_phone contactPhone,
		m.email email,
		m.register_time regTime,
		m.login_time loginTime,
		(select count(*) from m_order_info where member_id = m.id) as orderCount
		
		from m_member_info m 
		left join m_select_info s on s.select_key = m.memberid 
		left join m_area_province p on m.area_province = p.code 
		left join m_area_city c on m.area_city = c.code 
		left join m_area_zone z on m.area_zone = z.code 
		left join m_license_info l on m.license_info = l.id 
		left join m_control_info a on a.id = l.control_info 
		where s.type_code = 'member_type' and s.select_key = '3'
		and m.deleted = 0 
		<if test="company != null and company != ''"> 
			and m.company like concat(#{company},'%') 
		</if>
		<if test="startTime != null and startTime != ''"> 
			<![CDATA[
			and m.register_time >= #{startTime} 
			]]>
		</if>
		<if test="endTime != null and endTime != ''"> 
			<![CDATA[
				and m.register_time <= #{endTime}
			]]>
		</if>
		<if test="contactName != null and contactName != ''"> 
			and  m.contact_name like concat(#{contactName} , '%') 
		</if>
		<if test="contactPhone != null and contactPhone != ''"> 
			and m.contact_phone like concat(#{contactPhone} , '%')
		</if>
		<if test="legalRepresentative != null and legalRepresentative != ''"> 
			and l.legal_representative like concat(#{legalRepresentative} , '%') 
		</if>
		<if test="taxRegistrationArea != null and taxRegistrationArea != ''"> 
			and l.tax_registration_area like concat(#{taxRegistrationArea} , '%') 
		</if>
		<if test="startCapital != null and startCapital != ''"> 
			<![CDATA[
			and l.registered_capital >= #{startCapital} 
			]]>
		</if>
		<if test="endCapital != null and endCapital != ''"> 
			<![CDATA[
				and l.registered_capital <= #{endCapital} 
			]]>
		</if>
		<if test="industry != null and industry != ''"> 
			and a.industry = #{industry} 
		</if>
		
		order by m.created_time desc) t 
		where 1=1  
		<if test="startCount != null and startCount != ''"> 
			<![CDATA[
			and t.orderCount >= #{startCount} 
			]]>
		</if>
		<if test="endCount != null and endCount != ''"> 
			<![CDATA[
				and	t.orderCount <= #{endCount}
			]]>
		</if>
	</select>
	
	
	<!-- 微博会员 -->
	<select id="findWeiboPage" resultType="com.xinyue.manage.model.Member" parameterType="com.xinyue.manage.beans.MemberInfo">
		select * from (select  
		m.id id,
		m.login_name loginName, 
		s.select_value memberName,
		m.company company,
		concat_ws('',p.name , c.name , z.name , m.address) area,
		m.membercount memberCount,
		m.contact_name contactName,
		m.contact_phone contactPhone,
		m.email email,
		m.register_time regTime,
		m.login_time loginTime,
		m.status status,
		(select count(*) from m_order_info where member_id = m.id) as orderCount
		
		from m_member_info m 
		left join m_select_info s on s.select_key = m.memberid 
		left join m_area_province p on m.area_province = p.code 
		left join m_area_city c on m.area_city = c.code 
		left join m_area_zone z on m.area_zone = z.code 
		left join m_license_info l on m.license_info = l.id 
		left join m_control_info a on a.id = l.control_info 
		where s.type_code = 'member_type' and s.select_key = '4'
		and m.deleted = 0 
		<if test="company != null and company != ''"> 
			and m.company like concat(#{company},'%') 
		</if>
		<if test="startTime != null and startTime != ''"> 
			and m.register_time<![CDATA[ >= ]]> #{startTime} 
		</if>
		<if test="endTime != null and endTime != ''"> 
			and m.register_time<![CDATA[ <= ]]>#{endTime} 
		</if>
		<if test="contactName != null and contactName != ''"> 
			and  m.contact_name like concat(#{contactName} , '%') 
		</if>
		<if test="contactPhone != null and contactPhone != ''"> 
			and m.contact_phone like concat(#{contactPhone} , '%')
		</if>
		<if test="legalRepresentative != null and legalRepresentative != ''"> 
			and l.legal_representative like concat(#{legalRepresentative} , '%') 
		</if>
		<if test="taxRegistrationArea != null and taxRegistrationArea != ''"> 
			and l.tax_registration_area like concat(#{taxRegistrationArea} , '%') 
		</if>
		<if test="startCapital != null and startCapital != ''"> 
			and l.registered_capital<![CDATA[ >= ]]>#{startCapital} 
		</if>
		<if test="endCapital != null and endCapital != ''"> 
			and l.registered_capital <![CDATA[<=]]> #{endCapital} 
		</if>
		<if test="industry != null and industry != ''"> 
			and a.industry = #{industry} 
		</if>
		order by m.created_time desc) t 
		where 1=1  
		<if test="startCount != null and startCount != ''"> 
			and t.orderCount<![CDATA[ >= ]]>#{startCount} 
		</if>
		<if test="endCount != null and endCount != ''"> 
			and t.orderCount<![CDATA[ <= ]]>#{endCount} 
		</if>
		limit #{start} , #{pageSize}
		
	</select>
	<select id="getWeiboCount" resultType="int" parameterType="com.xinyue.manage.beans.MemberInfo">
		
		select count(*) from (select  
		m.id id,
		m.login_name loginName, 
		s.select_value memberName,
		m.company company,
		concat_ws('',p.name , c.name , z.name , m.address) area,
		m.membercount memberCount,
		m.contact_name contactName,
		m.contact_phone contactPhone,
		m.email email,
		m.register_time regTime,
		m.login_time loginTime,
		(select count(*) from m_order_info where member_id = m.id) as orderCount
		
		from m_member_info m 
		left join m_select_info s on s.select_key = m.memberid 
		left join m_area_province p on m.area_province = p.code 
		left join m_area_city c on m.area_city = c.code 
		left join m_area_zone z on m.area_zone = z.code 
		left join m_license_info l on m.license_info = l.id 
		left join m_control_info a on a.id = l.control_info 
		where s.type_code = 'member_type' and s.select_key = '4'
		and m.deleted = 0 
		<if test="company != null and company != ''"> 
			and m.company like concat(#{company},'%') 
		</if>
		<if test="startTime != null and startTime != ''"> 
			<![CDATA[
			and m.register_time >= #{startTime} 
			]]>
		</if>
		<if test="endTime != null and endTime != ''"> 
			<![CDATA[
				and m.register_time <= #{endTime}
			]]>
		</if>
		<if test="contactName != null and contactName != ''"> 
			and  m.contact_name like concat(#{contactName} , '%') 
		</if>
		<if test="contactPhone != null and contactPhone != ''"> 
			and m.contact_phone like concat(#{contactPhone} , '%')
		</if>
		<if test="legalRepresentative != null and legalRepresentative != ''"> 
			and l.legal_representative like concat(#{legalRepresentative} , '%') 
		</if>
		<if test="taxRegistrationArea != null and taxRegistrationArea != ''"> 
			and l.tax_registration_area like concat(#{taxRegistrationArea} , '%') 
		</if>
		<if test="startCapital != null and startCapital != ''"> 
			<![CDATA[
			and l.registered_capital >= #{startCapital} 
			]]>
		</if>
		<if test="endCapital != null and endCapital != ''"> 
			<![CDATA[
				and l.registered_capital <= #{endCapital} 
			]]>
		</if>
		<if test="industry != null and industry != ''"> 
			and a.industry = #{industry} 
		</if>
		order by m.created_time desc) t 
		where 1=1  
		<if test="startCount != null and startCount != ''"> 
			<![CDATA[
			and t.orderCount >= #{startCount} 
			]]>
		</if>
		<if test="endCount != null and endCount != ''"> 
			<![CDATA[
				and t.orderCount <= #{endCount}
			]]>
		</if>
	</select>
	
	<!-- 税务会员 -->
	<select id="findSuiwuPage" resultType="com.xinyue.manage.model.Member" parameterType="com.xinyue.manage.beans.MemberInfo">
		select * from (select  
		m.id id,
		m.login_name loginName, 
		s.select_value memberName,
		m.company company,
		concat_ws('',p.name , c.name , z.name , m.address) area,
		m.membercount memberCount,
		m.contact_name contactName,
		m.contact_phone contactPhone,
		m.email email,
		m.register_time regTime,
		m.login_time loginTime,
		m.status status,
		(select count(*) from m_order_info where member_id = m.id) as orderCount
		
		from m_member_info m 
		left join m_select_info s on s.select_key = m.memberid 
		left join m_area_province p on m.area_province = p.code 
		left join m_area_city c on m.area_city = c.code 
		left join m_area_zone z on m.area_zone = z.code 
		left join m_license_info l on m.license_info = l.id 
		left join m_control_info a on a.id = l.control_info 
		where s.type_code = 'member_type' and s.select_key = '5'
		and m.deleted = 0 
		<if test="company != null and company != ''"> 
			and m.company like concat(#{company},'%') 
		</if>
		<if test="startTime != null and startTime != ''"> 
			and m.register_time<![CDATA[ >= ]]> #{startTime} 
		</if>
		<if test="endTime != null and endTime != ''"> 
			and m.register_time<![CDATA[ <= ]]>#{endTime}
		</if>
		<if test="contactName != null and contactName != ''"> 
			and  m.contact_name like concat(#{contactName} , '%') 
		</if>
		<if test="contactPhone != null and contactPhone != ''"> 
			and m.contact_phone like concat(#{contactPhone} , '%')
		</if>
		<if test="legalRepresentative != null and legalRepresentative != ''"> 
			and l.legal_representative like concat(#{legalRepresentative} , '%') 
		</if>
		<if test="taxRegistrationArea != null and taxRegistrationArea != ''"> 
			and l.tax_registration_area like concat(#{taxRegistrationArea} , '%') 
		</if>
		<if test="startCapital != null and startCapital != ''"> 
			and l.registered_capital<![CDATA[ >= ]]>#{startCapital} 
		</if>
		<if test="endCapital != null and endCapital != ''"> 
			
				and l.registered_capital <![CDATA[<=]]> #{endCapital} 
			
		</if>
		<if test="industry != null and industry != ''"> 
			and a.industry = #{industry} 
		</if>
		order by m.created_time desc) t 
		where 1=1  
		<if test="startCount != null and startCount != ''"> 
			and t.orderCount<![CDATA[ >= ]]>#{startCount} 
		</if>
		<if test="endCount != null and endCount != ''"> 
			and t.orderCount<![CDATA[ <= ]]>#{endCount}
			
		</if>
		limit #{start} , #{pageSize} 
	</select>
	<select id="getSuiwuCount" resultType="int" parameterType="com.xinyue.manage.beans.MemberInfo">
		
		select count(*) from (select  
		m.id id,
		m.login_name loginName, 
		s.select_value memberName,
		m.company company,
		concat_ws('',p.name , c.name , z.name , m.address) area,
		m.membercount memberCount,
		m.contact_name contactName,
		m.contact_phone contactPhone,
		m.email email,
		m.register_time regTime,
		m.login_time loginTime,
		(select count(*) from m_order_info where member_id = m.id) as orderCount
		
		from m_member_info m 
		left join m_select_info s on s.select_key = m.memberid 
		left join m_area_province p on m.area_province = p.code 
		left join m_area_city c on m.area_city = c.code 
		left join m_area_zone z on m.area_zone = z.code 
		left join m_license_info l on m.license_info = l.id 
		left join m_control_info a on a.id = l.control_info 
		where s.type_code = 'member_type' and s.select_key = '5'
		and m.deleted = 0 
		<if test="company != null and company != ''"> 
			and m.company like concat(#{company},'%') 
		</if>
		<if test="startTime != null and startTime != ''"> 
			<![CDATA[
			and m.register_time >= #{startTime} 
			]]>
		</if>
		<if test="endTime != null and endTime != ''"> 
			<![CDATA[
				and m.register_time <= #{endTime}
			]]>
		</if>
		<if test="contactName != null and contactName != ''"> 
			and  m.contact_name like concat(#{contactName} , '%') 
		</if>
		<if test="contactPhone != null and contactPhone != ''"> 
			and m.contact_phone like concat(#{contactPhone} , '%')
		</if>
		<if test="legalRepresentative != null and legalRepresentative != ''"> 
			and l.legal_representative like concat(#{legalRepresentative} , '%') 
		</if>
		<if test="taxRegistrationArea != null and taxRegistrationArea != ''"> 
			and l.tax_registration_area like concat(#{taxRegistrationArea} , '%') 
		</if>
		<if test="startCapital != null and startCapital != ''"> 
			<![CDATA[
			and l.registered_capital >= #{startCapital} 
			]]>
		</if>
		<if test="endCapital != null and endCapital != ''"> 
			<![CDATA[
				and l.registered_capital <= #{endCapital} 
			]]>
		</if>
		<if test="industry != null and industry != ''"> 
			and a.industry = #{industry} 
		</if>
		order by m.created_time desc) t 
		where 1=1  
		<if test="startCount != null and startCount != ''"> 
			and t.orderCount >= #{startCount} 
		</if>
		<if test="endCount != null and endCount != ''"> 
			<![CDATA[
				and t.orderCount <= #{endCount}
			]]>
		</if>
	</select>
	
	<!-- 地税会员 -->
	<select id="findDisuiPage" resultType="com.xinyue.manage.model.Member" parameterType="com.xinyue.manage.beans.MemberInfo">
		select * from (select  
		m.id id,
		m.login_name loginName, 
		s.select_value memberName,
		m.company company,
		concat_ws('',p.name , c.name , z.name , m.address) area,
		m.membercount memberCount,
		m.contact_name contactName,
		m.contact_phone contactPhone,
		m.email email,
		m.register_time regTime,
		m.login_time loginTime,
		m.status status,
		(select count(*) from m_order_info where member_id = m.id) as orderCount
		
		from m_member_info m 
		left join m_select_info s on s.select_key = m.memberid 
		left join m_area_province p on m.area_province = p.code 
		left join m_area_city c on m.area_city = c.code 
		left join m_area_zone z on m.area_zone = z.code 
		left join m_license_info l on m.license_info = l.id 
		left join m_control_info a on a.id = l.control_info 
		where s.type_code = 'member_type' and s.select_key = '6'
		and m.deleted = 0 
		<if test="company != null and company != ''"> 
			and m.company like concat(#{company},'%') 
		</if>
		<if test="startTime != null and startTime != ''"> 
			and m.register_time<![CDATA[ >= ]]> #{startTime} 
		</if>
		<if test="endTime != null and endTime != ''"> 
			and m.register_time<![CDATA[ <= ]]>#{endTime}
			
		</if>
		<if test="contactName != null and contactName != ''"> 
			and  m.contact_name like concat(#{contactName} , '%') 
		</if>
		<if test="contactPhone != null and contactPhone != ''"> 
			and m.contact_phone like concat(#{contactPhone} , '%')
		</if>
		<if test="legalRepresentative != null and legalRepresentative != ''"> 
			and l.legal_representative like concat(#{legalRepresentative} , '%') 
		</if>
		<if test="taxRegistrationArea != null and taxRegistrationArea != ''"> 
			and l.tax_registration_area like concat(#{taxRegistrationArea} , '%') 
		</if>
		<if test="startCapital != null and startCapital != ''"> 
			and l.registered_capital<![CDATA[ >= ]]>#{startCapital} 
		</if>
		<if test="endCapital != null and endCapital != ''"> 
			
				and l.registered_capital <![CDATA[<=]]> #{endCapital} 
			
		</if>
		<if test="industry != null and industry != ''"> 
			and a.industry = #{industry} 
		</if>
		order by m.created_time desc) t 
		where 1=1  
		<if test="startCount != null and startCount != ''"> 
			and t.orderCount<![CDATA[ >= ]]>#{startCount} 
		</if>
		<if test="endCount != null and endCount != ''"> 
			and t.orderCount<![CDATA[ <= ]]>#{endCount}
			
		</if>
		limit #{start} , #{pageSize}
		
	</select>
	<select id="getDisuiCount" resultType="int" parameterType="com.xinyue.manage.beans.MemberInfo">
		
		select count(*) from (select  
		m.id id,
		m.login_name loginName, 
		s.select_value memberName,
		m.company company,
		concat_ws('',p.name , c.name , z.name , m.address) area,
		m.membercount memberCount,
		m.contact_name contactName,
		m.contact_phone contactPhone,
		m.email email,
		m.register_time regTime,
		m.login_time loginTime,
		(select count(*) from m_order_info where member_id = m.id) as orderCount
		
		from m_member_info m 
		left join m_select_info s on s.select_key = m.memberid 
		left join m_area_province p on m.area_province = p.code 
		left join m_area_city c on m.area_city = c.code 
		left join m_area_zone z on m.area_zone = z.code 
		left join m_license_info l on m.license_info = l.id 
		left join m_control_info a on a.id = l.control_info 
		where s.type_code = 'member_type' and s.select_key = '6'
		and m.deleted = 0 
		<if test="company != null and company != ''"> 
			and m.company like concat(#{company},'%') 
		</if>
		<if test="startTime != null and startTime != ''"> 
			<![CDATA[
			and m.register_time >= #{startTime} 
			]]>
		</if>
		<if test="endTime != null and endTime != ''"> 
			<![CDATA[
				and m.register_time <= #{endTime}
			]]>
		</if>
		<if test="contactName != null and contactName != ''"> 
			and  m.contact_name like concat(#{contactName} , '%') 
		</if>
		<if test="contactPhone != null and contactPhone != ''"> 
			and m.contact_phone like concat(#{contactPhone} , '%')
		</if>
		<if test="legalRepresentative != null and legalRepresentative != ''"> 
			and l.legal_representative like concat(#{legalRepresentative} , '%') 
		</if>
		<if test="taxRegistrationArea != null and taxRegistrationArea != ''"> 
			and l.tax_registration_area like concat(#{taxRegistrationArea} , '%') 
		</if>
		<if test="startCapital != null and startCapital != ''"> 
			<![CDATA[
			and l.registered_capital >= #{startCapital} 
			]]>
		</if>
		<if test="endCapital != null and endCapital != ''"> 
			<![CDATA[
				and l.registered_capital <= #{endCapital} 
			]]>
		</if>
		<if test="industry != null and industry != ''"> 
			and a.industry = #{industry} 
		</if>
		order by m.created_time desc) t 
		where 1=1  
		<if test="startCount != null and startCount != ''"> 
			<![CDATA[
			and t.orderCount >= #{startCount} 
			]]>
		</if>
		<if test="endCount != null and endCount != ''"> 
			<![CDATA[
				and t.orderCount <= #{endCount}
			]]>
		</if>
	</select>
	
	<!-- 国税会员 -->
	<select id="findGuoPage" resultType="com.xinyue.manage.model.Member" parameterType="com.xinyue.manage.beans.MemberInfo">
		select * from (select  
		m.id id,
		m.login_name loginName, 
		s.select_value memberName,
		m.company company,
		concat_ws('',p.name , c.name , z.name , m.address) area,
		m.membercount memberCount,
		m.contact_name contactName,
		m.contact_phone contactPhone,
		m.email email,
		m.register_time regTime,
		m.login_time loginTime,
		m.status status,
		(select count(*) from m_order_info where member_id = m.id) as orderCount
		
		from m_member_info m 
		left join m_select_info s on s.select_key = m.memberid 
		left join m_area_province p on m.area_province = p.code 
		left join m_area_city c on m.area_city = c.code 
		left join m_area_zone z on m.area_zone = z.code 
		left join m_license_info l on m.license_info = l.id 
		left join m_control_info a on a.id = l.control_info 
		where s.type_code = 'member_type' and s.select_key = '7'
		and m.deleted = 0 
		<if test="company != null and company != ''"> 
			and m.company like concat(#{company},'%') 
		</if>
		<if test="startTime != null and startTime != ''"> 
			and m.register_time<![CDATA[ >= ]]> #{startTime} 
		</if>
		<if test="endTime != null and endTime != ''"> 
			and m.register_time<![CDATA[ <= ]]>#{endTime}
		</if>
		<if test="contactName != null and contactName != ''"> 
			and  m.contact_name like concat(#{contactName} , '%') 
		</if>
		<if test="contactPhone != null and contactPhone != ''"> 
			and m.contact_phone like concat(#{contactPhone} , '%')
		</if>
		<if test="legalRepresentative != null and legalRepresentative != ''"> 
			and l.legal_representative like concat(#{legalRepresentative} , '%') 
		</if>
		<if test="taxRegistrationArea != null and taxRegistrationArea != ''"> 
			and l.tax_registration_area like concat(#{taxRegistrationArea} , '%') 
		</if>
		<if test="startCapital != null and startCapital != ''"> 
			and l.registered_capital<![CDATA[ >= ]]>#{startCapital} 
		</if>
		<if test="endCapital != null and endCapital != ''"> 
			
				and l.registered_capital <![CDATA[<=]]> #{endCapital} 
			
		</if>
		<if test="industry != null and industry != ''"> 
			and a.industry = #{industry} 
		</if>
		order by m.created_time desc) t 
		where 1=1  
		<if test="startCount != null and startCount != ''"> 
			and t.orderCount<![CDATA[ >= ]]>#{startCount} 
		</if>
		<if test="endCount != null and endCount != ''"> 
				and t.orderCount<![CDATA[ <= ]]>#{endCount}
		</if>
		limit #{start} , #{pageSize} 
	</select>
	<select id="getGuoCount" resultType="int" parameterType="com.xinyue.manage.beans.MemberInfo">
		
		select count(*) from (select  
		m.id id,
		m.login_name loginName, 
		s.select_value memberName,
		m.company company,
		concat_ws('',p.name , c.name , z.name , m.address) area,
		m.membercount memberCount,
		m.contact_name contactName,
		m.contact_phone contactPhone,
		m.email email,
		m.register_time regTime,
		m.login_time loginTime,
		(select count(*) from m_order_info where member_id = m.id) as orderCount
		
		
		from m_member_info m 
		left join m_select_info s on s.select_key = m.memberid 
		left join m_area_province p on m.area_province = p.code 
		left join m_area_city c on m.area_city = c.code 
		left join m_area_zone z on m.area_zone = z.code 
		left join m_license_info l on m.license_info = l.id 
		left join m_control_info a on a.id = l.control_info 
		where s.type_code = 'member_type' and s.select_key = '7'
		and m.deleted = 0 
		<if test="company != null and company != ''"> 
			and m.company like concat(#{company},'%') 
		</if>
		<if test="startTime != null and startTime != ''"> 
			<![CDATA[
			and m.register_time >= #{startTime} 
			]]>
		</if>
		<if test="endTime != null and endTime != ''"> 
			<![CDATA[
				and m.register_time <= #{endTime}
			]]>
		</if>
		<if test="contactName != null and contactName != ''"> 
			and  m.contact_name like concat(#{contactName} , '%') 
		</if>
		<if test="contactPhone != null and contactPhone != ''"> 
			and m.contact_phone like concat(#{contactPhone} , '%')
		</if>
		<if test="legalRepresentative != null and legalRepresentative != ''"> 
			and l.legal_representative like concat(#{legalRepresentative} , '%') 
		</if>
		<if test="taxRegistrationArea != null and taxRegistrationArea != ''"> 
			and l.tax_registration_area like concat(#{taxRegistrationArea} , '%') 
		</if>
		<if test="startCapital != null and startCapital != ''"> 
			<![CDATA[
			and l.registered_capital >= #{startCapital} 
			]]>
		</if>
		<if test="endCapital != null and endCapital != ''"> 
			<![CDATA[
				and l.registered_capital <= #{endCapital} 
			]]>
		</if>
		<if test="industry != null and industry != ''"> 
			and a.industry = #{industry} 
		</if>
		order by m.created_time desc) t 
		where 1=1  
		<if test="startCount != null and startCount != ''"> 
			<![CDATA[
				and t.orderCount >= #{startCount} 
			]]>
		</if>
		<if test="endCount != null and endCount != ''"> 
			<![CDATA[
				and t.orderCount <= #{endCount}
			]]>
		</if>
	</select>
	
	<select id="findMemberByPhone" parameterType="String" resultType="int">
		select count(*) from m_member_info where contact_phone=#{contactPhone} and deleted=0;
	</select>
	
	<select id="getMemberByPhone" resultType="com.xinyue.manage.model.Member">
		select id from m_member_info where contact_phone=#{contactPhone} and deleted = 0 and status = 0;
	</select>
	
	<!-- 2015-10-19以后  -->
	<!-- 普通会员推荐 普通会员 -->
	<select id="findRecommendMember" resultType="com.xinyue.manage.beans.InvitationMemberInfo">
		 select  
		 	mr.contact_name as name, mr.contact_phone as telPhone, date_format(mr.register_time,'%Y-%m-%d') as registerTime, date_format(o.audite_time,'%Y-%m-%d') as successLoanTime 
		from m_member_info ml 
		inner join m_member_info mr on ml.invitation_code = mr.invited_code and mr.deleted = 0 
		left join m_order_info o on o.member_id = mr.id and o.deleted = 0 and o.status = 10 
		where ml.id = #{memberid} limit #{start} , #{pageSize}
	</select>
	<select id="getRecommendMemberCount" resultType="int">
		 select count(*) from m_member_info ml 
		inner join m_member_info mr on ml.invitation_code = mr.invited_code and mr.deleted = 0 
		left join m_order_info o on o.member_id = mr.id and o.deleted = 0 and o.status = 10 
		where ml.id = #{memberid} 
	</select>
	<!-- 普通会员推荐信贷经理 -->
	<select id="findRecommendCredit" resultType="com.xinyue.manage.beans.InvitationMemberInfo">
		select 
			c.real_name name, c.tel_number telPhone, date_format(c.created_time,'%Y-%m-%d') as registerTime, date_format(r.recharge_time,'%Y-%m-%d') as rechargeTime 
		from m_member_info m 
		inner join c_manager_info c on m.invitation_code = c.invited_code  
		left join  m_recharge_info r on r.user_id = c.id and r.deleted = 0 
		where m.id = #{memberid} limit #{start} , #{pageSize} 
	</select>
	<select id="getRecommendCredit" resultType="int">
		select count(*) from m_member_info m 
		inner join c_manager_info c on m.invitation_code = c.invited_code  
		left join  m_recharge_info r on r.user_id = c.id and r.deleted = 0 
		where m.id = #{memberid}  
	</select> 
	
	<!-- member ywh order -->
	<select id="findMemberOrder" resultType="com.xinyue.manage.model.Order">
		select 
		o.id , o.code , p.name productName, p.code productCode, i.name bank, o.credit , o.credit_real realCredit, a.deadline limitDate, o.commit_time commitTime, 
		o.status , s.select_value statusName ,  o.tax_audite_person taxAuditePerson, o.tax_audite_time taxAuditeTime,o.remark, o.blank_audite_time blankAuditeTime, o.blank_audite_person blankAuditePerson
		from m_order_info o 
		left join m_product_info p on o.product_info = p.id 
		left join m_organization_info i on i.id = o.bank 
		left join m_applicant_info a on a.id = o.applicant_info 
		left join m_select_info s on s.select_key = o.status and s.type_code = 'order_status'
		where o.deleted = 0 and o.member_id = #{memberid}
		limit #{start} , #{pageSize} 		
	</select>
	<select id="getMemberOrderCount" resultType="int">
		select count(*) from m_order_info o 
		left join m_product_info p on o.product_info = p.id 
		left join m_organization_info i on i.id = o.bank 
		left join m_applicant_info a on a.id = o.applicant_info 
		where o.deleted = 0 and o.member_id = #{memberid} 	
	</select>
	
	<!-- admin ywh member 提现 -->
	<select id="findMemberDraw" resultType="com.xinyue.manage.model.Reward">
		select 
		q.id , q.withdraw_time rewardTime, sw.select_value rewardType, q.withdraw_amount rewardAmount, si.select_value status, q.remark , 
		q.serical_number sericalNumber , q.other_award_amount otherAwardAmount
		from m_withdraw_money_info q 
		left join m_select_info sw on sw.select_key = q.withdraw_type and sw.type_code = 'withdraw_type' 
		left join m_select_info si on si.select_key = q.status and si.type_code = 'withdraw_status'
		where q.deleted = 0 and q.user_id = #{sc.memberid} 
		<if test="sc.startTime != null and sc.startTime != ''">
			and q.withdraw_time >= #{sc.startTime }
		</if>
		<if test="sc.endTime != null and sc.endTime != ''">
			and q.withdraw_time <![CDATA[<]]> #{sc.endTime}
		</if>
		limit #{start} , #{pageSize}
	</select>
	<select id="getMemberDraw" resultType="int">
		select count(*) from m_withdraw_money_info q 
		left join m_select_info sw on sw.select_key = q.withdraw_type and sw.type_code = 'withdraw_type' 
		left join m_select_info si on si.select_key = q.status and si.type_code = 'withdraw_status'
		where q.deleted = 0  and q.user_id = #{sc.memberid} 
		<if test="sc.startTime != null and sc.startTime != ''">
			and q.withdraw_time >= #{sc.startTime }
		</if>
		<if test="sc.endTime != null and sc.endTime != ''">
			and q.withdraw_time <![CDATA[<]]> #{sc.endTime}
		</if>
	</select>
	
	<!-- admin ywh member 奖励 -->
	<select id="findMemberReword" resultType="com.xinyue.manage.model.Reward">
		select 
		r.id , r.reward_time rewardTime, s.select_value rewardType, m.contact_name userName, m.contact_phone userPhone, r.remark , 
		r.serical_number sericalNumber,r.reward_amount rewardAmount, r.other_award_amount otherAwardAmount
		from m_reward_info r 
		left join m_select_info s on s.select_key = r.reward_type and s.type_code = 'reward_source' 
		left join m_member_info m on m.id = r.user_id and m.deleted = 0 
		where r.deleted = 0 and r.user_id = #{sc.memberid} 
		<if test="sc.startTime != null and sc.startTime != ''">
			and r.reward_time >= #{sc.startTime }
		</if>
		<if test="sc.endTime != null and sc.endTime != ''">
			and r.reward_time <![CDATA[<]]> #{sc.endTime}
		</if>
		limit #{start} , #{pageSize}
	</select>
	<select id="getMemberReword" resultType="int">
		select count(*) from m_reward_info r 
		left join m_select_info s on s.select_key = r.reward_type and s.type_code = 'reward_source' 
		left join m_member_info m on m.id = r.user_id and m.deleted = 0 
		where r.deleted = 0 and r.user_id = #{sc.memberid} 
		<if test="sc.startTime != null and sc.startTime != ''">
			and r.reward_time >= #{sc.startTime }
		</if>
		<if test="sc.endTime != null and sc.endTime != ''">
			and r.reward_time <![CDATA[<]]> #{sc.endTime}
		</if>
	</select>
</mapper>