<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinyue.manage.dao.OrderCustomerDAO">
	<resultMap type="com.xinyue.manage.model.OrderAppointed" id="appointed">
		<result column="id" property="id" />
		<result column="credit_name" property="creditName" />
		<result column="credit_phone" property="creditPhone" />
		<result column="blank" property="blank" />
		<result column="price" property="price" />
		<result column="deleted" property="deleted" />
		<result column="created_id" property="createdId" />
		<result column="created_time" property="createdTime" />
		<result column="modified_id" property="modifiedId" />
		<result column="modified_time" property="modifiedTime" />
		<result column="order_id" property="orderId" />
		<result column="type" property="type" />
		<result column="manage_id" property="manageId" />
		<result column="credit" property="credit" />
		<result column="limit_date" property="limitDate" />
		<result column="applicant_name" property="applicantName" />
		<result column="applicant_phone" property="applicantPhone" />
		<result column="company_name" property="companyName" />
		<result column="applicant_time" property="applicantTime" />
		<result column="code" property="code" />
		<result column="status" property="status" />
		<result column="product_name" property="productName" />
	</resultMap>
	<resultMap type="com.xinyue.manage.model.OrderAuction" id="auction">
		<result column="id" property="id" />
		<result column="fixed_price" property="fixedPrice" />
		<result column="start_price" property="startPrice" />
		<result column="lower_add_price" property="lowerAddPrice" />
		<result column="now_price" property="nowPrice" />
		<result column="start_time" property="startTime" />
		<result column="end_time" property="endTime" />
		<result column="deleted" property="deleted" />
		<result column="created_id" property="createdId" />
		<result column="created_time" property="createdTime" />
		<result column="modified_id" property="modifiedId" />
		<result column="modified_time" property="modifiedTime" />
		<result column="order_id" property="orderId" />
		<result column="type" property="type" />
		<result column="manage_id" property="manageId" />
	</resultMap>
	<resultMap type="com.xinyue.manage.model.OrderFixed" id="fixed">
		<result column="id" property="id" />
		<result column="price" property="price" />
		<result column="start_time" property="startTime" />
		<result column="end_time" property="endTime" />
		<result column="deleted" property="deleted" />
		<result column="created_id" property="createdId" />
		<result column="created_time" property="createdTime" />
		<result column="modified_id" property="modifiedId" />
		<result column="modified_time" property="modifiedTime" />
		<result column="order_id" property="orderId" />
		<result column="type" property="type" />
		<result column="manage_id" property="manageId" />
		<result column="company_type" property="companyType" />
		<result column="person_num" property="personNum" />
		<result column="sales" property="sales" />
		<result column="run_year" property="runYear" />
		<result column="credit" property="credit" />
		<result column="guarantee_type" property="guaranteeType" />
		<result column="two_year_credit" property="twoYearCredit" />
		<result column="collateral" property="collateral" />
		<result column="limit_date" property="limitDate" />
		<result column="total_vat" property="totalVat" />
		<result column="applicant_name" property="applicantName" />
		<result column="image" property="image" />
		
		
	</resultMap>
	<resultMap type="com.xinyue.manage.model.OrderLowPrice" id="lowprice">
		<result column="id" property="id" />
		<result column="max_price" property="maxPrice" />
		<result column="min_price" property="minPrice" />
		<result column="per_minus" property="perMinus" />
		<result column="miniute" property="miniute" />
		<result column="now_price" property="nowPrice" />
		<result column="start_time" property="startTime" />
		<result column="end_time" property="endTime" />
		<result column="deleted" property="deleted" />
		<result column="created_id" property="createdId" />
		<result column="created_time" property="createdTime" />
		<result column="modified_id" property="modifiedId" />
		<result column="modified_time" property="modifiedTime" />
		<result column="order_id" property="orderId" />
		<result column="type" property="type" />
		<result column="manage_id" property="manageId" />
	</resultMap>
	
<!-- 	<resultMap type="com.xinyue.manage.beans.SelectInfo" id="select"> -->
<!-- 		<result column="key" property="key" /> -->
<!-- 		<result column="value" property="value" /> -->
<!-- 	</resultMap> -->
		
	
	<insert id="addOrderAppointed" parameterType="com.xinyue.manage.model.OrderAppointed">
		insert into c_order_appoint (id,credit_name,credit_phone,blank,price,deleted,created_id,
					created_time,modified_id,modified_time,order_id,type,manage_id,
					credit,limit_date,applicant_name,applicant_phone,company_name,applicant_time)
			values (#{id},#{creditName},#{creditPhone},#{blank},#{price},#{deleted},#{createdId},
					now(),#{modifiedId},now(),#{orderId},#{type},#{manageId},
					#{credit},#{limitDate},#{applicantName},#{applicantPhone},#{companyName},#{applicantTime})
	
	</insert>
	<insert id="addOrderAuction" parameterType="com.xinyue.manage.model.OrderAuction">
		insert into c_order_auction (id,fixed_price,start_price,lower_add_price,now_price,start_time,
					end_time,deleted,created_id,created_time,modified_id,modified_time,order_id,type,manage_id)
			values (#{id},#{fixedPrice},#{startPrice},#{lowerAddPrice},#{nowPrice},#{startTime},
					#{endTime},#{deleted},#{createdId},now(),#{modifiedId},now(),#{orderId},#{type},#{manageId})
	</insert>
	<insert id="addOrderFixed" parameterType="com.xinyue.manage.model.OrderFixed">
		insert into c_order_fixed (id,price,start_time,end_time,deleted,created_id,
					created_time,modified_id,modified_time,order_id,type,manage_id,
					company_type,person_num,sales,run_year,credit,guarantee_type,
					two_year_credit,collateral,limit_date,total_vat
					)
			values (#{id},#{price},#{startTime},#{endTime},#{deleted},#{createdId},
					now(),#{modifiedId},now(),#{orderId},#{type},#{manageId},
					#{companyType},#{personNum},#{sales},#{runYear},#{credit},#{guaranteeType},
					#{twoYearCredit},#{collateral},#{limitDate},#{totalVat})
	</insert>
	<insert id="addOrderLowPrice" parameterType="com.xinyue.manage.model.OrderLowPrice">
		insert into c_order_lowprice (id,max_price,min_price,per_minus,miniute,now_price,start_time,end_time,
					deleted,created_id,created_time,modified_id,modified_time,order_id,type,manage_id)
			values (#{id},#{maxPrice},#{minPrice},#{perMinus},#{miniute},#{nowPrice},#{startTime},#{endTime},
					#{deleted},#{createdId},now(),#{modifiedId},now(),#{orderId},#{type},#{manageId})
	</insert>
	
	
	<update id="deleteOrderCustomer">
		update ${tabName}
		 set deleted = 1,
		 	 modified_time = now(),
			 modified_id = #{modifiedId}
		where order_id = #{orderId} and type = #{type}
	</update>
	<update id="updateOrderType">
		update 
			${tabName} 
		 set
		 <if test="orderType != null and orderType != ''">
		 	order_type = #{orderType},
		 </if>
		 <if test="orderStatus != null and orderStatus != ''">
		 	order_status = #{orderStatus},
		 </if>
		 <if test="status != null and status != ''">
		 	 status = #{status},
		 </if>
		 	 modified_time = now(),
		 	 modified_id = #{modifyId}
		 where id = #{id} and deleted = 0
	</update>
	
	<update id="updateOrderCustomerManageId">
		update
			${tabName}
		set
			manage_id = #{manageId},
			modified_time = now(),
			modified_id = #{modifiedId}
		where id = #{id} and deleted = 0
	</update>
	
	
	<select id="getOrderFixedById" resultMap="fixed">
		select * 
			from c_order_fixed
		where
			id = #{id} and deleted = 0
	</select>
	
	<select id="getOrderFixed" resultMap="fixed">
		select * 
			from c_order_fixed
		where 
			order_id = #{orderId} and deleted = 0 and type = #{type}
	</select>

	<select id="getOrderAuction" resultMap="auction">
		select * 
			from c_order_auction
		where 
			order_id = #{orderId} and deleted = 0 and type = #{type}
	
	</select>
	
	
	<select id="getOrderAppointed" resultMap="appointed">
		select * 
			from c_order_appoint
		where 
			order_id = #{orderId} and deleted = 0 and type = #{type}
	
	</select>	
	
	<select id="getOrderLowPrice" resultMap="lowprice">
		select * 
			from c_order_lowprice
		where 
			order_id = #{orderId} and deleted = 0 and type = #{type}
	
	</select>
	 
	 <select id="getOrderType" resultType="string">
	 	select
	 		order_type 
	 	from
	 		${tabName}	
	 	where id = #{id} and deleted = 0
	 
	 </select>
	 
	 <select id="getOrderAppointedFromOrder" resultMap="appointed">
	 	select 
	 		o.credit,
	 		a.deadline as limit_date,
	 		a.name as applicant_name,
	 		a.phone as applicant_phone,
	 		l.company_name as company_name,
	 		o.created_time as applicant_time
	 	from m_order_info       	o
	 	left join m_applicant_info  a  on o.applicant_info = a.id
	 	left join m_license_info 	l  on o.license_info = l.id
	 	where o.id = #{orderId}
	 </select>
	 
	 
	 <select id="getOrderFixedFromOrder" resultMap="fixed">
	 	select 
	 		l.business_registration_type as company_type,
	 		c.person_num as person_num,
	 		b.sales,
	 		timestampdiff(year, c.business_start_time , now()) as run_year,
	 		o.credit,
	 		a.guarantee as guarantee_type,
	 		a.two_year_credit as two_year_credit,
	 		d.guaranty as collateral,
	 		a.deadline as limit_date,
	 		b.vat_amount as total_vet
	 	from m_order_info       	o
	 	left join m_debt_info   	d  on o.debt_info = d.id
<!-- 	 	left join m_select_info 	s  on s.select_key = d.guaranty and s.type_code = 'collateral_type' -->
	 	left join m_license_info 	l  on o.license_info = l.id
<!-- 	 	left join m_select_info 	s1 on s1.select_key = l.business_registration_type and s1.type_code = 'business_type' -->
	 	left join m_control_info 	c  on o.control_info = c.id 
		left join m_business_info   b  on o.id = b.target_id and b.target_type = '2' and b.year = '2015'
		left join m_applicant_info  a  on o.applicant_info = a.id
<!-- 		left join m_select_info     s2 on s2.select_key = a.two_year_credit and s2.type_code ='credit_type' -->
<!-- 		left join m_select_info     s3 on s3.select_key = a.guarantee and s3.type_code = 'guarantee_type' -->
	 	where o.id = #{orderId}
	 </select>
	 
	 <select id="getFixedListByPage" resultMap="fixed">
	 	select 
	 		f.id,
	 		f.price,
	 		f.start_time,
	 		f.end_time,
	 		f.order_id,
	 		s2.select_value as company_type,
	 		f.person_num,
	 		f.sales,
	 		f.run_year,
	 		f.credit,
	 		s3.select_value as guarantee_type,
	 		s.select_value as two_year_credit,
	 		s1.select_value as collateral,
	 		f.limit_date,
	 		f.total_vat,
	 		a.name as applicant_name
	 		from c_order_fixed f
	 	left join  m_select_info s  on s.select_key = f.two_year_credit and s.type_code = 'credit_type'
	 	left join  m_select_info s1 on s1.select_key = f.collateral and s1.type_code = 'collateral_type'
	 	left join  m_select_info s3 on s3.select_key = f.guarantee_type and s3.type_code = 'guarantee_type'
	 	left join  m_select_info s2 on s2.select_key = f.company_type and s2.type_code = 'business_type'
	 	
	 	
	 	left join  m_order_info  o  on o.id = f.order_id and f.type = 1
	 	left join  m_applicant_info a on o.applicant_info = a.id
	 	where f.deleted = 0 and f.manage_id is null
	 	<if test="search.collateral != null and search.collateral != 0">
	 		and #{search.collateral} = f.collateral
	 	</if>
	 	<if test="search.twoYearCredit != null and search.twoYearCredit != 0">
	 		and #{search.twoYearCredit} = f.two_year_credit
	 	</if>
	 	limit #{pageNo}, #{pageSize}
	 </select>
	 
	 <select id="countFixedListByPage" resultType="int">
	 	select count(*)
	 		from c_order_fixed f
	 	where f.deleted = 0 and f.manage_id is null
	 	<if test="search.collateral != null and search.collateral != 0">
	 		and #{search.collateral} = f.collateral
	 	</if>
	 	<if test="search.twoYearCredit != null and search.twoYearCredit != 0">
	 		and #{search.twoYearCredit} = f.two_year_credit
	 	</if>
	 
	 </select>
	
	
	<select id="getAppointedListByManageId" resultMap="appointed">
		select a.*,
			o.code as code,
			s.select_value as `status`,
			d.`name` as product_name
		from
			c_order_appoint a
		left join m_order_info     o   on o.id = a.order_id and a.type = '1' and o.deleted = 0 and o.order_type = '4'
		left join m_product_info   d   on d.id = o.product_info
		left join m_select_info    s   on s.select_key = o.status and s.type_code = 'order_status'
		where a.deleted = 0 
		and manage_id = #{manageId}
		<if test="search.startTime != null and search.startTime !=''">
			and a.applicant_time > #{search.startTime}
		</if>
		<if test="search.endTime != null and search.endTime != ''">
			<![CDATA[
				and a.applicant_time < #{search.endTime}
			]]>
		</if>
		<if test="search.code != null and search.code != ''">
<!-- 			undone.. -->
		</if>
		<if test="search.applicantPhone != null and search.applicantPhone != ''">
			and a.applicant_phone like '%' #{search.applicantPhone} '%'
		</if>
		<if test="search.applicantName != null and search.applicantName != ''">
			and a.applicant_name like '%' #{search.applicantName} '%'
		</if>
		limit #{pageNo}, #{pageSize}
	</select>
	
	<select id="countAppointedListByManageId" resultType="int">
		select count(*)
			from c_order_appoint a
		where deleted = 0 
		and manage_id = #{manageId}
		<if test="search.startTime != null and search.startTime !=''">
			and a.applicant_time > #{search.startTime}
		</if>
		<if test="search.endTime != null and search.endTime != ''">
			<![CDATA[
				and a.applicant_time < #{search.endTime}
			]]>
		</if>
		<if test="search.code != null and search.code != ''">
<!-- 			undone.. -->
		</if>
		<if test="search.applicantPhone != null and search.applicantPhone != ''">
			and a.applicant_phone like '%' #{search.applicantPhone} '%'
		</if>
		<if test="search.applicantName != null and search.applicantName != ''">
			and a.applicant_name like '%' #{search.applicantName} '%'
		</if>
	</select>
</mapper>