<?xml version="1.0" encoding="UTF-8"?>
<!-- wenhai.you -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinyue.manage.dao.ProductFileDao">

	
     <insert id="addProductFile" parameterType="com.xinyue.manage.model.ProductFile">
		
     	insert into m_product_file_type(id , file_name , file_type, product_id , created_time , created_id , deleted) 
     	values(uuid() , #{fileName} , #{fileType} ,#{parentid},now() , #{createUser} , 0)
		
     </insert>
     
     <update id="updateProductFile">
     	update m_product_file_type set product_id = #{id} , modified_time = now() , modified_id = #{modifyUser}
     	where id = 
     	<foreach collection="list" item="item" index="index" separator=" or id = "  >  
	        #{item}  
	    </foreach>
     </update>
     
    
	<update id="delProductFile">
		update m_product_file_type set deleted = 1 , modified_time = now() ,  modified_id = #{modifyUser} where id = #{id}
	</update>
</mapper>