<?xml version="1.0" encoding="UTF-8"?>
<!-- wenhai.you -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinyue.manage.dao.ProductDao">

	
	
	<update id="updateShelve">
		update m_product_info set status = 2 , modified_time = now() , modified_id = #{modifyUser} where id = 
		<foreach collection="list" item="item" index="index" separator=" or id = "  >  
	        #{item}  
	    </foreach>
	</update>
	
	<update id="updateUnShelve">
		update m_product_info set status = 3 , modified_time = now() , modified_id = #{modifyUser}  where id = 
		<foreach collection="list" item="item" index="index" separator=" or id = "  >  
	        #{item}  
	    </foreach>
	</update>
	
	
	
	<select id="findProductById" resultType="com.xinyue.manage.model.Product">
		select p.id id , p.name name , concat_ws('' , a.name , c.name , z.name ) area , concat_ws('-' , p.credit_from , p.credit_to) credit, 
		t.name productTypeName , i.name orgName , i.id orgid from m_product_info p 
		left join m_product_type t on p.type = t.id and t.deleted = 0 and t.status = 1 
		left join m_area_province a on a.code  = p.province_id 
		left join m_area_city c on c.code = p.city_id 
		left join m_area_zone z on z.code = p.area_id 
		left join m_organization_info i on i.id = p.bank 
		where p.deleted = 0 and p.status = 2 and p.id = #{proid} 
	</select>
	
	
    
     
    
     
     
     
     
     
     
<!--      add by lzc -->
     <select id="getListByRecommend" resultType="com.xinyue.manage.model.Product">
     	select * from m_product_info
     	where deleted = 0 and recommend = #{recommend}
     </select>
     
     <!-- add by maozj -->
     <resultMap type="com.xinyue.manage.beans.SelectInfo" id="productsResult">
     	<result property="id" column="key"/>
     	<result property="name" column="value"/>
     </resultMap>
     <select id="findProductsManagerId" parameterType="String" resultMap="productsResult">
		select 
		    pi.id, pi.name
		from
		    m_product_info pi,
		    c_manager_info mi
		where
		    mi.organization = pi.bank
		        and pi.deleted = 0
		        and mi.id = #{managerId};
     </select>
     
     <select id="getProductsByManagerId" parameterType="hashmap" resultType="com.xinyue.manage.model.Product">
     select 
	     pi.id as id,
	     pi.name as name,
	     pi.credit_from as creditFrom,
	     pi.credit_to as creditTo,
	     pt.name as productTypeName,
	     concat_ws('/', pi.file_dir, pi.file_name) as logo
	 from
	     m_product_info pi,
	     c_manager_info mi,
	     m_product_type pt
	 where
	     pi.deleted = 0 and pt.deleted = 0
	     	 and pt.id = pi.type
	         and mi.organization = pi.bank
	         and mi.id = #{managerId}
	 order by pi.modified_id desc
	 limit #{index},2;
     </select>
     
     <select id="getProductsCountByManagerId" parameterType="String" resultType="int">
     select 
	     count(pi.id)
	 from
	     moke.m_product_info pi,
	     c_manager_info mi,
	     m_product_type pt 
	 where
	     pi.deleted = 0 and pt.deleted = 0
	     	 and pt.id = pi.type
	         and mi.organization = pi.bank
	         and mi.id = #{managerId};
     </select>
     
     
     
     <!-- 2015-09-11 ywh 以后修改 -->
     <!-- ywh 产品列表展示 -->
     <select id="findProList" resultMap="product_list" parameterType="com.xinyue.manage.beans.ProductInfo">
		select  i.* , concat_ws('' , p.name , c.name , z.name ) area , 
			s.select_key statusKey , s.select_value statusName 
		from m_product_info i   
			left join m_product_type t on i.type = t.id 
		 	left join m_organization_info o on i.bank = o.id  
		 	left join m_area_province p on p.code = i.province_id 
		 	left join m_area_city c on c.code = i.city_id 
		 	left join m_area_zone z on z.code = i.area_id 
		 	left join m_select_info s on i.status = s.select_key and s.type_code = 'product_status' 
		where i.deleted = 0 
		 <if test="productName != null and productName != ''">
		 	and i.name like concat(#{productName} , '%') 
		 </if>
		 <if test="code != null and code != ''">
		 	and i.code like concat(#{code} , '%') 
		 </if>
		 <if test="type != null and type != ''">
		 	and i.type = #{type}
		 </if>
		 <if test="org != null and org != ''">
		 	and i.bank = #{org}
		 </if>
		 <if test="status != null and status != 0">
		 	and i.status = #{status}
		 </if>
		 <choose>
		 	<when test="sort != 0">
			 	<if test="sort != null and sort == 1">
				 	 order by add_time asc 
				 </if>
				 <if test="sort != null and sort == 2">
				 	 order by add_time desc 
				 </if>
		 	</when>
		 	<otherwise>
		 		order by i.created_time desc 
		 	</otherwise>
		 </choose>
		 limit #{start} , #{pageSize}
	</select>
	<resultMap type="com.xinyue.manage.model.Product" id="product_list">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="credit" column="credit"/>
		<result property="content" column="content"/>
		<result property="code" column="code"/>
		<result property="area" column="area"/>
		<result property="recommend" column="recommend"/>
		<result property="downTime" column="down_time"/>
		<result property="addTime" column="add_time"/>
		<result property="deleted" column="deleted"/>
		<result property="createdTime" column="created_time"/>
		<result property="modifiedTime" column="modified_time"/>
		<result property="createUser" column="created_id"/>
		<result property="modifiedUser" column="modified_id"/>
		<association property="type" column="type" javaType="com.xinyue.manage.model.ProductType" select="getProductTypeById"></association>
		<association property="org" javaType="com.xinyue.manage.model.Organization">
			<id property="id" column="orgid"/>
			<result property="name" column="orgName"/>
		</association>
		<association property="status" javaType="com.xinyue.manage.model.Select">
			<result property="dicKey" column="statusKey"/>
			<result property="dicVal" column="statusName"/>
		</association>
	</resultMap>
	<select id="getProductTypeById" resultType="com.xinyue.manage.model.ProductType">
		select id id , name name from m_product_type where id = #{type} 
	</select>
	
	
	<!-- ywh 产品列表总记录数 -->
	<select id="getProCount" resultType="int" parameterType="com.xinyue.manage.beans.ProductInfo">
		select count(*)  from m_product_info i  
			left join m_product_type t on i.type = t.id
		 	left join m_organization_info o on i.bank = o.id
		 	left join m_select_info s on i.status = s.select_key and s.type_code = 'product_status'
		where i.deleted = 0 
		 <if test="productName != null and productName != ''">
		 	and i.name like concat(#{productName} , '%') 
		 </if>
		 <if test="code != null and code != ''">
		 	and i.code like concat(#{code} , '%') 
		 </if>
		 <if test="type != null and type != ''">
		 	and i.type = #{type}
		 </if>
		 <if test="org != null and org != ''">
		 	and i.bank = #{org}
		 </if>
		 <if test="status != null and status != 0">
		 	and i.status = #{status}
		 </if>
	</select>
	
	<!-- ywh 产品详情 -->
	<select id="getProductById" resultMap="pro_profile">
		select 
		i.* ,  
		s.select_key statusKey , s.select_value statusName  ,
		o.id orgid , o.name orgName , 
		concat_ws('' , p.name , c.name , z.name ) area , 
		count(t.id) collect , count(d.id) orderNum 
		from m_product_info i 
		left join m_area_province p on p.code = i.province_id 
		left join m_area_city c on c.code = i.city_id 
		left join m_area_zone z on z.code = i.area_id 
		left join m_select_info s on i.status = s.select_key and s.type_code = 'product_status' 
		left join c_collect_info t on t.product_id = i.id 
		left join m_order_info d on d.product_info = i.id 
		left join m_organization_info o on o.id = i.bank and o.deleted = 0 
		where i.id = #{id} 
	</select>
	
	<resultMap type="com.xinyue.manage.model.Product" id="pro_profile">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="credit" column="credit"/>
		<result property="content" column="content"/>
		<result property="collect" column="collect"/>
		<result property="orderNum" column="orderNum"/>
		<result property="logo" column="logo"/>
		<result property="code" column="code"/>
		
		<result property="periodFrom" column="period_from"/>
		<result property="periodTo" column="period_to"/>
		<result property="provinceid" column="province_id"/>
		<result property="cityid" column="city_id"/>
		<result property="zoneid" column="area_id"/>
		<result property="cid" column="city_id"/>
		<result property="zid" column="area_id"/>
		
		<result property="interestFrom" column="interest_from"/>
		<result property="interestTo" column="interest_to"/>
		<result property="area" column="area"/>
		<result property="pv" column="pv"/>
		<result property="recommend" column="recommend"/>
		<result property="downTime" column="down_time"/>
		<result property="addTime" column="add_time"/>
		<result property="deleted" column="deleted"/>
		<result property="createdTime" column="created_time"/>
		<result property="modifiedTime" column="modified_time"/>
		<result property="createUser" column="created_id"/>
		<result property="modifiedUser" column="modified_id"/>
		<association property="type" column="type" javaType="com.xinyue.manage.model.ProductType" select="getProductTypeById"></association>
		<association property="org" javaType="com.xinyue.manage.model.Organization">
			<id property="id" column="orgid"/>
			<result property="name" column="orgName"/>
		</association>
		<association property="status" javaType="com.xinyue.manage.model.Select">
			<result property="dicKey" column="statusKey"/>
			<result property="dicVal" column="statusName"/>
		</association>
		<collection property="file" column="id" javaType="java.util.ArrayList" ofType="com.xinyue.manage.model.ProductFile" select="findProductFileList"></collection>
	</resultMap>
	
	<select id="findProductFileList" resultType="com.xinyue.manage.model.ProductFile">
    	select 
			 id id ,
			 file_name fileName, 
			 file_type fileType,
			 created_time createdTime,
			 modified_time modifiedTime,
			 created_id createUser,
			 modified_id modifyUser 
			 from m_product_file_type where product_id = #{id} and deleted = 0
    </select>
    
    <!-- ywh 选项设置加载 -->
    <select id="findOptionByProductid" resultType="com.xinyue.manage.model.ProductContent">
    	select * from m_checkoptions_info where productcode = #{productid}
    </select>
    <!-- ywh 保存选项 -->
    <insert id="saveOption" parameterType="com.xinyue.manage.model.ProductContent">
    	INSERT INTO m_checkoptions_info
			(productcode, applicantname, phonenumber, email, loandate, loanamount, interestrate, repaymenttype, collateraltype, guaranteeamount,
			guarantearea, localareathing,  companyname, legalperson, certificatetype_1, certificatenum_1, businesslicensenum,
			registerdate, lastinspectiondate, inspectionrecord, registercapital, realcapital, companytype, placearea, codenum, companyphone, companyfax,
			licensedate, registertype, organizationtype, nationtaxnum, localtaxnum, staketype, stakeperson, certificatetype_2, certificatenum_2, employeeage,
			education, marriage, industry, managementstartdate, localarea, salearea, managementplace, entertime, creditstatus, audittype, employeenum, loancard,
			loancardnum, totalincome, monthlywater, totalordermoney, monthlyelectric, workshop, land, officebuilding, shop, priviatehouse, machine, other, debtrate,
			incomerate, collateral, fristincome, relevantindustry, netasset, assetflowrate, mainasset, deleted, salegrowthtype)
			VALUES (#{productcode }, #{applicantname}, #{phonenumber}, #{email}, #{loandate}, #{loanamount}, #{interestrate},
				#{repaymenttype}, #{collateraltype}, #{guaranteeamount}, #{guarantearea}, #{localareathing}, 
				#{companyname}, #{legalperson}, #{certificatetype_1}, #{certificatenum_1}, #{businesslicensenum},
				#{registerdate}, #{lastinspectiondate}, #{inspectionrecord}, #{registercapital}, #{realcapital}, #{companytype},
				#{placearea}, #{codenum}, #{companyphone}, #{companyfax}, #{licensedate}, #{registertype}, #{organizationtype},
				#{nationtaxnum}, #{localtaxnum}, #{staketype}, #{stakeperson}, #{certificatetype_2}, #{certificatenum_2}, #{employeeage},
				#{education}, #{marriage}, #{industry}, #{managementstartdate}, #{localarea}, #{salearea}, #{managementplace}, #{entertime},
				#{creditstatus}, #{audittype}, #{employeenum}, #{loancard}, #{loancardnum}, #{totalincome}, #{monthlywater}, #{totalordermoney},
				#{monthlyelectric}, #{workshop}, #{land}, #{officebuilding}, #{shop}, #{priviatehouse}, #{machine}, #{other}, #{debtrate},
				#{incomerate}, #{collateral}, #{fristincome}, #{relevantindustry}, #{netasset}, #{assetflowrate}, #{mainasset}, #{deleted},
 				#{salegrowthtype});
	</insert>
	<!-- ywh 修改选项 -->
	<update id="updateOption" parameterType="com.xinyue.manage.model.ProductContent">
		UPDATE m_checkoptions_info SET applicantname = #{applicantname}, phonenumber = #{phonenumber}, email = #{email}, loandate = #{loandate},
			loanamount = #{loanamount}, interestrate = #{interestrate}, repaymenttype = #{repaymenttype}, collateraltype = #{collateraltype},
			guaranteeamount = #{guaranteeamount}, guarantearea = #{guarantearea}, localareathing = #{localareathing},
			companyname = #{companyname}, legalperson = #{legalperson}, certificatetype_1 = #{certificatetype_1}, certificatenum_1 = #{certificatenum_1},
			businesslicensenum = #{businesslicensenum}, registerdate = #{registerdate}, lastinspectiondate = #{lastinspectiondate}, inspectionrecord = #{inspectionrecord},
			registercapital = #{registercapital}, realcapital = #{realcapital}, companytype = #{companytype}, placearea = #{placearea}, codenum = #{codenum}, companyphone = #{companyphone},
			companyfax = #{companyfax}, licensedate = #{licensedate}, registertype = #{registertype}, organizationtype = #{organizationtype}, nationtaxnum = #{nationtaxnum}, 
			localtaxnum = #{localtaxnum}, staketype = #{staketype}, stakeperson = #{stakeperson}, certificatetype_2 = #{certificatetype_2}, certificatenum_2 = #{certificatenum_2}, 
			employeeage = #{employeeage}, education = #{education}, marriage = #{marriage}, industry = #{industry}, managementstartdate = #{managementstartdate}, localarea = #{localarea}, 
			salearea = #{salearea}, managementplace = #{managementplace}, entertime = #{entertime}, creditstatus = #{creditstatus}, audittype = #{audittype}, employeenum = #{employeenum}, 
			loancard = #{loancard}, loancardnum = #{loancardnum}, totalincome = #{totalincome}, monthlywater = #{monthlywater}, totalordermoney = #{totalordermoney}, 
			monthlyelectric = #{monthlyelectric}, workshop = #{workshop}, land = #{land}, officebuilding = #{officebuilding}, shop = #{shop}, priviatehouse = #{priviatehouse}, 
			machine = #{machine}, other = #{other}, debtrate = #{debtrate}, incomerate = #{incomerate}, collateral = #{collateral}, fristincome = #{fristincome},
			relevantindustry = #{relevantindustry}, netasset = #{netasset}, assetflowrate = #{assetflowrate}, mainasset = #{mainasset}, deleted = #{deleted},salegrowthtype = #{salegrowthtype}
			WHERE  productcode = #{productcode} 

	</update>
	
	<!--ywh 产品添加 -->
	 <insert id="addProduct"  parameterType="com.xinyue.manage.model.Product">
     	<selectKey resultType="string" keyProperty="id" order="BEFORE" >
	      SELECT replace(uuid(),'-','') id
	    </selectKey>
     	insert into m_product_info
     	(id , name , logo , type , bank , credit , interest_from , interest_to , period_from , period_to , province_id , city_id , area_id ,
     	code , recommend , content , add_time
     	
     	 <choose>
				<when test="downTime">
					 , down_time
				</when>
			</choose>, created_id, created_time , modified_time , modified_id , status, deleted)
     	values(#{id}, #{name}, #{logo}, #{type.id}, #{org.id}, #{credit}, #{interestFrom}, #{interestTo} , #{periodFrom } , #{periodTo} , 
     		#{provinceid} ,#{cityid} , #{zoneid}, #{code}, #{recommend}, #{content} 
     	<choose>
				<when test="addTime">
					, #{addTime}
				</when>
				<otherwise>
					, curdate()
				</otherwise>
			</choose>
     	  <choose>
				<when test="downTime">
					, #{downTime}
				</when>
			</choose>, #{createUser}, now(),  now() , #{createUser} , #{state}, 0)
     </insert>
     
     <!-- ywh 产品修改 -->
     <update id="updateProduct" parameterType="com.xinyue.manage.model.Product">
     	update m_product_info set 
		name = #{name} , 
		logo = #{logo},
		type = #{type.id} , 
		bank = #{org.id} , 
		credit = #{credit},
		interest_from = #{interestFrom} , 
		interest_to = #{interestTo}, 
		period_from = #{periodFrom}, 
		period_to = #{periodTo}, 
		province_id = #{provinceid}, 
		<if test="cityid != null and cityid !=''">
		city_id = #{cityid}, 
		</if>
		<if test="zoneid != null and zoneid !=''">
		area_id = #{zoneid}, 
		</if>
		recommend = #{recommend},
		content = #{content} , 
		<choose>
			<when test="addTime">
				add_time=#{addTime},
			</when>
			<otherwise>
				add_time=curdate(),
			</otherwise>
		</choose> 
		<choose>
			<when test="downTime">
				down_time=#{downTime},
			</when>
		</choose>
		modified_id=#{modifiedUser}, 
		modified_time=now() , 
		status = #{state}
		where id = #{id}
     </update>
     <!-- ywh 删除产品 -->
     <update id="delPro">
     	update m_product_info set deleted = 1 , modified_id = #{modifyUser} , modified_time=now()  where id = #{productid}
     </update>
     
     <!-- ywh　自动更新产品状态 -->
     <update id="updateStatus">
    	update m_product_info set status= case 
    	when down_time<![CDATA[<]]>curdate() then 3 
    	when add_time<![CDATA[<]]>curdate() and down_time>curdate() then 2
		when add_time>curdate() then 1 end 
     </update>
</mapper>