<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--ywh 2015-12-09 getCountByManagerId-->
<mapper namespace="com.xinyue.manage.dao.SuccessCaseDAO">
	<select id="findSuccessCasesByManagerId" parameterType="String" resultType="com.xinyue.manage.model.SuccessCase">
		select 
		    sc.id as id,
		    sc.product_id as productId,
		    sc.applicant_company as applicantCompany,
		    sc.loan_amount as loanAmount,
		    sc.loan_date as loanDate,
		    sc.loan_days as loanDays,
		    sc.description as description,
		    pi.name as productName
		from
		    c_success_case sc,
		    m_product_info pi
		where
		    sc.product_id = pi.id
		        and sc.credit_manager_id = #{managerId}
		order by sc.order_number;
	</select>
	
	<select id="getCountByManagerId" parameterType="com.xinyue.manage.beans.SuccessCaseSearch" resultType="int">
		select
			count(sc.id)
		from
			c_success_case sc,
		    m_product_info pi
		where
			sc.product_id = pi.id
			and sc.credit_manager_id=#{managerId}
			<if test="productName != ''">
			and pi.name like concat(concat('%', #{productName}),'%')
			</if>
			<if test="amountStart !=''">
			and sc.loan_amount<![CDATA[ >= ]]>#{amountStart}
			</if>
			<if test="amountEnd !=''">
			and sc.loan_amount<![CDATA[ <= ]]>#{amountEnd}
			</if>
			<if test="dateStart !=''">
			and sc.loan_date<![CDATA[ >= ]]>#{dateStart}
			</if>
			<if test="dateEnd !=''">
			and sc.loan_date<![CDATA[ <= ]]>#{dateEnd}
			</if>
	</select>
	
	<select id="getSuccessCaseList" parameterType="com.xinyue.manage.beans.SuccessCaseSearch" resultType="com.xinyue.manage.model.SuccessCase">
		select 
			sc.id as id,
		    pi.id as productId,
		    pi.name as productName,
		    sc.applicant_company as applicantCompany,
		    si.select_value as loanType,
		    sc.loan_amount as loanAmount,
		    sc.loan_date as loanDate,
		    sc.loan_period as loanPeriod,
		    sc.loan_days as loanDays,
		    ap.name as loanProvince,
		    ac.name as loanCity,
		    sc.month_interest as monthInterest
		from
		    c_success_case sc,
		    m_product_info pi,
		    m_area_province ap,
		    m_area_city ac,
		    (select 
		        *
		    from
		        m_select_info
		    where
		        type_code = 'loan_type') si
		where
		    sc.product_id = pi.id
		        and sc.loan_type = si.select_key
		        and sc.loan_province = ap.code
		        and sc.loan_city = ac.code
				<if test="productName != ''">
				and pi.name like concat(concat('%', #{productName}),'%')
				</if>
				<if test="amountStart !=''">
				and sc.loan_amount<![CDATA[ >= ]]>#{amountStart}
				</if>
				<if test="amountEnd !=''">
				and sc.loan_amount<![CDATA[ <= ]]>#{amountEnd}
				</if>
				<if test="dateStart !=''">
				and sc.loan_date<![CDATA[ >= ]]>#{dateStart}
				</if>
				<if test="dateEnd !=''">
				and sc.loan_date<![CDATA[ <= ]]>#{dateEnd}
				</if>
				<!-- ywh 2015-11-13   因为成功案例 无论是谁都会显示 -->
				<if test="managerId != null and managerId != ''">
				and sc.credit_manager_id = #{managerId}
				</if>
				
		order by sc.order_number
		limit #{index} , 10;
	</select>
	
	<update id="deleteCaseById" parameterType="list">
		<foreach collection="ids" item="id" separator=";">
			update 
				c_success_case 
			set
				deleted=1,
				modified_time=now(),
				modified_id=#{managerId}
			where
				id=#{id}
		</foreach>
	</update>
	
	<select id="getSuccessCaseByCaseId" parameterType="String" resultType="com.xinyue.manage.model.SuccessCase">
		select 
		    c.id as id,
		    c.product_id as productId,
		    p.name as productName,
		    c.applicant_company as applicantCompany,
		    c.loan_amount as loanAmount,
		    date_format(c.loan_date, '%Y-%m-%d') as loanDate,
		    c.loan_period as loanPeriod,
		    c.loan_days as loanDays,
		    s.select_value as loanType,
		    m.name as loanProvince,
		    a.name as loanCity,
		    c.month_interest as monthInterest,
		    c.order_number as orderNumber,
		    c.description as description
		from
		    c_success_case c
		    left join m_product_info p on p.deleted = 0 and p.id = c.product_id 
		    left join m_area_province m on m.code = c.loan_province 
		    left join m_area_city a on a.code = c.loan_city 
		    left join m_select_info s on s.type_code = 'loan_type' and s.select_key = c.loan_type
		where
		    c.id = #{caseId};
	</select>
	
	<insert id="addCase" parameterType="com.xinyue.manage.model.SuccessCase">
		insert into  c_success_case
		(id , credit_manager_id , product_id , applicant_company , loan_amount , loan_date , loan_period , loan_days , loan_type , loan_province , loan_city , 
		month_interest , order_number, description , deleted , created_time , modified_time , created_id , modified_id , use_flag , manager_name)
		values(
			#{id},
			#{creditManagerId},
			#{productId},
			#{applicantCompany},
			#{loanAmount},
			#{loanDate},
			#{loanPeriod},
			#{loanDays},
			#{loanType},
			#{loanProvince},
			#{loanCity},
			#{monthInterest},
			#{orderNumber},
			#{description},
			0,
			now(),
			now(),
			#{creditManagerId},
			#{creditManagerId},
			0,
			#{creditManagerName}
		);
	</insert>
	
	<update id="updateCase" parameterType="com.xinyue.manage.model.SuccessCase">
		update c_success_case
		set
			credit_manager_id=#{creditManagerId},
			product_id=#{productId},
			applicant_company=#{applicantCompany},
			loan_amount=#{loanAmount},
			loan_date=#{loanDate},
			loan_period=#{loanPeriod},
			loan_days=#{loanDays},
			loan_type=#{loanType},
			loan_province=#{loanProvince},
			loan_city=#{loanCity},
			month_interest=#{monthInterest},
			order_number=#{orderNumber},
			description=#{description},
			modified_time=now()
		where 
			id=#{id};
	</update>
	
	<select id="getSuccessCaseDetailByCaseId" parameterType="String" resultType="com.xinyue.manage.model.SuccessCase">
		select 
		    sc.id as id,
		    sc.product_id as productId,
		    pi.name as productName,
		    sc.applicant_company as applicantCompany,
		    sc.loan_amount as loanAmount,
		    date_format(sc.loan_date, '%Y-%m-%d') as loanDate,
		    sc.loan_period as loanPeriod,
		    sc.loan_days as loanDays,
		    s1.select_value as loanType,
		    ap.name as loanProvince,
		    ac.name as loanCity,
		    sc.month_interest as monthInterest,
		    sc.order_number as orderNumber,
		    sc.description as description
		from
		    c_success_case sc,
		    (select 
		        *
		    from
		        m_select_info
		    where
		        type_code = 'loan_type') s1,
		    m_product_info pi,
		    m_area_province ap,
		    m_area_city ac
		where
		    sc.id = #{id}
		        and s1.select_key = sc.loan_type
		        and pi.id = sc.product_id
		        and ap.code = sc.loan_province
		        and ac.code = sc.loan_city;	
	</select>
	
	<select id="getSuccessCasesByOrgId" resultType="com.xinyue.manage.model.SuccessCase">
		select 
		    sc.id as id,
		    pi.name as productName,
		    sc.applicant_company as applicantCompany,
		    sc.loan_amount as loanAmount,
		    date_format(sc.loan_date, '%Y-%m-%d') as loanDate,
		    sc.loan_period as loanPeriod,
		    lt.select_value as loanDays,
		    ap.name as loanProvince,
		    ac.name as loanCity,
		    sc.month_interest as monthInterest,
		    sc.order_number as orderNumber,
		    sc.manager_name as creditManagerName,
		    sc.use_flag as useFlag
		from
		    c_success_case sc
		        left join
		    m_product_info pi ON pi.id = sc.product_id
		        left join
		    (select 
		        *
		    from
		        m_select_info
		    where
		        type_code = 'loan_type') lt ON lt.select_key = sc.loan_type
		        left join
		    m_area_province ap ON ap.code = sc.loan_province
		        left join
		    m_area_city ac ON ac.code = sc.loan_city
		where
		    sc.organization = #{orgid} and sc.deleted = 0 
		order by sc.created_time desc
		limit #{index},10;	
	</select>
	
	<select id="getSuccessCasesCountByOrgId" resultType="int" parameterType="String">
		select 
		    count(sc.id)
		from
		    c_success_case sc
		where deleted = 0 and 
		    sc.organization = #{orgid}
	</select>
	
	<update id="updateOrgSuccessCaseUseFlag" parameterType="list">
		
			update 
				c_success_case 
			set
				use_flag=#{type},
				modified_time=now(),
				modified_id = #{updateUser}
			where
			<foreach collection="codes" item="code" open="id = " separator=" or id = ">
				#{code}
			</foreach>
	</update>
	
	<update id="deleteSuccessCaseByIds" parameterType="list">
		
			update 
				c_success_case 
			set
				deleted=1
			where
		<foreach collection="codes" item="code" open="id = " separator=" or id = ">
				#{code}
		</foreach>
	</update>
	
<!-- 	add by lzc -->
	<select id="getSuccessByTime" resultType="com.xinyue.manage.model.SuccessCase"> 
		SELECT s.applicant_company AS applicantCompany,
			   s.loan_amount AS loanAmount
		FROM c_success_case s
		ORDER BY s.modified_time
		LIMIT #{pageNo}, #{pageSize}
	
	</select>
<!-- 	end -->
	
</mapper>